<footer id="footer" class="alternative">
    <!--<a href="http://localhost:3000/#" class="back-to-top slideIn"><i class="fa fa-angle-up"></i></a>-->

    <!-- Main Footer -->
    <div id="main-footer" class="">
        <div class="container-fluid padding_l_35 padding_r_35">

            <div class="row align-items-center">
                <div class="logo hidden-sm-down margin_r_35"> <!-- fix Andrew -->
                    <a class="logo__text" href="http://localhost:3000/">S</a>
                    <!-- (image_tag 'images/logo.png', alt: 'Logo') -->
                </div>

                <div class="col-lg-8 col-md-8">
                    <div class="menu-footer">
                        <ul>
                            <li><a href="">About</a></li>
                            <li><a href="">Terms & Conditions</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Footer -->
</footer>