
.<%=common %> {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: inherit;
  stroke: inherit;

<% _.forEach(svg, function(svgItem) { %>
  &.<%=svgItem.name%> {
    font-size:(<%= svgItem.relHeight %>*10)+px;
    width:(<%= svgItem.relWidth %>/<%= svgItem.relHeight %>)+em;
  }
<% }); %>
}


