

<header id="header" >

    <!-- Main Header -->
    <div id="main-header" class="bg-white hidden-sm-down">
        <div class="container-fluid padding_l_35 padding_r_35"> <!-- fix andrew -->
            <div class="row align-items-center">

                <div class="col-lg-1 col-md-1">
                    <div class="logo">
                        <a class="logo__text" href="http://localhost:3000/">S</a>
                        <!-- (image_tag 'images/logo.png', alt: 'Logo') -->
                    </div>
                </div>

                <div class="col-lg-5 col-md-5">
                    <form class="share-form">
                        <input type="text" placeholder="Add a link...">
                        <button class="button bg-black color-white" data-toggle="modal" data-target="#messagePreview">share</button>
                    </form>
                </div>

                <div class="col-lg-6 col-md-6 small-menu">

                    <ul>
                        <li><a href="javascript:void(0);">How it works</a></li>
                        <li><a href="javascript:void(0);" data-toggle="modal" data-target="#signIn">sign in</a></li>
                        <li><a href="javascript:void(0);" class="small-menu__attention" data-toggle="modal" data-target="#signUp">sign up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>