.align-left {
  text-align:left !important;
}
.align-right {
  text-align:right !important;
}
.align-center {
  text-align:center !important;
}
img.align-left {
  float:left;
  margin:.5em 2em .5em 0;
}
img.align-right {
  float:right;
  margin:.5em 0 .5em 2em;
}
img.align-center {
  margin:1em auto;
  display:block;
}

.resize_none{
  resize: none;
}

.no-border{
  border:none !important;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
								13. Custom Padding And Margins
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

.margin_t_0{margin-top:0!important;}
.margin_t_5{margin-top:5px!important;}
.margin_t_10{margin-top:10px!important;}
.margin_t_15{margin-top:15px!important;}
.margin_t_20{margin-top:20px!important;}
.margin_t_25{margin-top:25px!important;}
.margin_t_30{margin-top:30px!important;}
.margin_t_35{margin-top:35px!important;}
.margin_t_40{margin-top:40px!important;}
.margin_t_45{margin-top:45px!important;}
.margin_t_48{margin-top: 48px !important;}
.margin_t_50{margin-top:50px!important;}
.margin_t_55{margin-top:55px!important;}
.margin_t_60{margin-top:60px!important;}
.margin_t_65{margin-top:65px!important;}
.margin_t_70{margin-top:70px!important;}
.margin_t_75{margin-top:75px!important;}.margin_t_80{margin-top:80px!important;}.margin_t_85{margin-top:85px!important;}
.margin_t_90{margin-top:90px!important;}.margin_t_95{margin-top:95px!important;}.margin_t_100{margin-top:100px!important;}
.margin_t_105{margin-top:105px!important;}.margin_t_110{margin-top:110px!important;}.margin_t_115{margin-top:115px!important;}
.margin_t_120{margin-top:120px!important;}.margin_t_125{margin-top:125px!important;}.margin_t_130{margin-top:130px!important;}
.margin_b_0{margin-bottom:0!important;}.margin_b_5{margin-bottom:5px!important;}.margin_b_10{margin-bottom:10px!important;}
.margin_b_15{margin-bottom:15px!important;}.margin_b_20{margin-bottom:20px!important;}.margin_b_25{margin-bottom:25px!important;}
.margin_b_30{margin-bottom:30px!important;}.margin_b_35{margin-bottom:35px!important;}.margin_b_40{margin-bottom:40px!important;}
.margin_b_45{margin-bottom:45px!important;}.margin_b_50{margin-bottom:50px!important;}.margin_b_55{margin-bottom:55px!important;}
.margin_b_60{margin-bottom:60px!important;}.margin_b_65{margin-bottom:65px!important;}.margin_b_70{margin-bottom:70px!important;}
.margin_b_75{margin-bottom:75px!important;}.margin_b_80{margin-bottom:80px!important;}.margin_b_85{margin-bottom:85px!important;}
.margin_b_90{margin-bottom:90px!important;}.margin_b_95{margin-bottom:95px!important;}.margin_b_100{margin-bottom:100px!important;}.margin_b_105{margin-bottom:105px!important;}.margin_b_110{margin-bottom:110px!important;}.margin_b_115{margin-bottom:115px!important;}.margin_b_120{margin-bottom:120px!important;}.margin_b_125{margin-bottom:125px!important;}.margin_b_130{margin-bottom:130px!important;}

.margin_l_0{margin-bottom:0!important;}.margin_l_10{margin-left:10px!important;}.margin_l_20{margin-left:20px!important;}.margin_l_30{margin-left:30px!important;}.margin_l_40{margin-left:40px!important;}.margin_l_50{margin-left:50px!important;}.margin_l_60{margin-left:60px!important;}.margin_l_70{margin-left:70px!important;}.margin_l_80{margin-left:80px!important;}.margin_l_90{margin-left:90px!important;}.margin_l_100{margin-left:100px!important;}.margin_l_110{margin-left:110px!important;}.margin_l_120{margin-left:120px!important;}
.margin_r_0{margin-right:0!important;}.margin_r_10{margin-right:10px!important;}.margin_r_20{margin-right:20px!important;}.margin_r_30{margin-right:30px!important;}.margin_r_35{margin-right:35px!important;}.margin_r_40{margin-right:40px!important;}.margin_r_50{margin-right:50px!important;}.margin_r_60{margin-right:60px!important;}.margin_r_70{margin-right:70px!important;}.margin_r_80{margin-right:80px!important;}.margin_r_90{margin-right:90px!important;}.margin_r_100{margin-right:100px!important;}.margin_r_110{margin-right:110px!important;}.margin_r_120{margin-right:120px!important;}

.no_margin{margin:0!important;}
.margin_n_left_25 { margin-left: -25px; }

.padding_t_0{padding-top:0!important;}.padding_t_5{padding-top:5px!important;}
.padding_t_10{padding-top:10px!important;}.padding_t_15{padding-top:15px!important;}
.padding_t_20{padding-top:20px!important;}.padding_t_25{padding-top:25px!important;}
.padding_t_30{padding-top:30px!important;}.padding_t_35{padding-top:35px!important;}
.padding_t_40{padding-top:40px!important;}.padding_t_45{padding-top:45px!important;}
.padding_t_50{padding-top:50px!important;}.padding_t_55{padding-top:55px!important;}
.padding_t_60{padding-top:60px!important;}.padding_t_65{padding-top:65px!important;}
.padding_t_70{padding-top:70px!important;}.padding_t_75{padding-top:75px!important;}
.padding_t_80{padding-top:80px!important;}.padding_t_85{padding-top:85px!important;}
.padding_t_90{padding-top:90px!important;}.padding_t_95{padding-top:95px!important;}
.padding_t_100{padding-top:100px!important;}.padding_t_105{padding-top:105px!important;}
.padding_t_110{padding-top:110px!important;}.padding_t_115{padding-top:115px!important;}
.padding_t_120{padding-top:120px!important;}.padding_t_125{padding-top:125px!important;}
.padding_t_130{padding-top:130px!important;}.padding_t_140{padding-top:140px!important;}
.padding_t_150{padding-top:150px!important;}

.padding_b_0{padding-bottom:0!important;}.padding_b_5{padding-bottom:5px!important;}.padding_b_10{padding-bottom:10px!important;}.padding_b_15{padding-bottom:15px!important;}.padding_b_20{padding-bottom:20px!important;}.padding_b_25{padding-bottom:25px!important;}.padding_b_30{padding-bottom:30px!important;}.padding_b_35{padding-bottom:35px!important;}.padding_b_40{padding-bottom:40px!important;}.padding_b_45{padding-bottom:45px!important;}.padding_b_50{padding-bottom:50px!important;}
.padding_b_55{padding-bottom:55px!important;}.padding_b_60{padding-bottom:60px!important;}.padding_b_65{padding-bottom:65px!important;}.padding_b_70{padding-bottom:70px!important;}.padding_b_75{padding-bottom:75px!important;}.padding_b_80{padding-bottom:80px!important;}.padding_b_85{padding-bottom:85px!important;}.padding_b_90{padding-bottom:90px!important;}.padding_b_95{padding-bottom:95px!important;}.padding_b_100{padding-bottom:100px!important;}.padding_b_105{padding-bottom:105px!important;}
.padding_b_110{padding-bottom:110px!important;}.padding_b_115{padding-bottom:115px!important;}.padding_b_120{padding-bottom:120px!important;}.padding_b_125{padding-bottom:125px!important;}.padding_b_130{padding-bottom:130px!important;}.padding_b_140{padding-bottom:140px!important;}.padding_b_150{padding-bottom:150px!important;}

.padding_l_0{padding-left:0!important;}.padding_l_10{padding-left:10px!important;}
.padding_l_15{padding-left:15px!important;}.padding_l_20{padding-left:20px!important;}
.padding_l_30{padding-left:30px!important;}
.padding_l_35{padding-left:35px!important;}
.padding_l_40{padding-left:40px!important;}.padding_l_50{padding-left:50px!important;}.padding_l_60{padding-left:60px!important;}.padding_l_70{padding-left:70px!important;}.padding_l_80{padding-left:80px!important;}.padding_l_90{padding-left:90px!important;}.padding_l_100{padding-left:100px!important;}.padding_l_110{padding-left:110px!important;}.padding_l_120{padding-left:120px!important;}

.padding_r_0{padding-right:0!important;}.padding_r_10{padding-right:10px!important;}
.padding_r_15{padding-right:15px!important;}.padding_r_20{padding-right:20px!important;}
.padding_r_30{padding-right:30px!important;}
.padding_r_35{padding-right:35px!important;}
.padding_r_40{padding-right:40px!important;}.padding_r_50{padding-right:50px!important;}.padding_r_60{padding-right:60px!important;}.padding_r_70{padding-right:70px!important;}.padding_r_80{padding-right:80px!important;}.padding_r_90{padding-right:90px!important;}.padding_r_100{padding-right:100px!important;}.padding_r_110{padding-right:110px!important;}.padding_r_120{padding-right:120px!important;}
.no_padding{padding:0!important;}
.no-side-padding{padding-left: 0 !important; padding-right: 0 !important;}
.no_border{border:none!important;}



/********************************************
			  	12-5. Colors
*********************************************/
.color-white, .color-white.button, .color-white.button:hover, .color-light,.wysija-submit-field.wysija-submit{color:#fff !important;}
.color-black{color:#212428!important;}
.color-blue{color:map_get($colors, 'pink')!important;}
.color-dark-blue{color:#161c43!important;}
.color-light-blue{color:#2eb9ea!important;}
.color-turquoise-blue{color:#5fd0e4!important;}
.color-gray{color:#bfcdde!important;}
.color-dark-gray{color:#8a9fb9 !important;}
.color-periwinkle-gray{color:#e5eaf3!important;}
.color-botticelli-gray{color:#d6deec!important;}
.color-light-gray{color:#f9f9f9!important;}
.color-silver{color:#c9c9c9!important;}
.color-orange{color:#f3c72f!important;}
.color-dark-orange{color:#ed9b4b!important;}
.color-bittersweet{color:#ff7859!important;}
.color-green{color:#85c94f!important;}
.color-dark-green{color:#3ec8a7!important;}
.color-turquoise{color:#41d4d6!important;}
.color-purple{color:#9268e8!important;}
.color-dark-purple{color:#603497!important;}
.color-pink{color:#f06387!important;}
.color-cranberry{color:#de5477!important;}
.color-yellow{color:#ffff4a!important;}
.color-red{color:#eb5848!important;}
.color-mulberry{color:#c95b97!important;}
.color-salmon{color:#f99376!important;}
.color-pictonblue{color:#47b3dd!important;}
.color-tundora{color:#444444 !important;}
.color-royalBlue{color:#3a6ee8 !important;}
.color-torchRed{color:#fd0025 !important;}
.color-hotGray{color:#ACB4B8 !important;}
.color-codGray{color:#1c1c1c !important;}
.color-doveGray{color:#666666 !important;}
