.button_w_full{
  width: 100%;
  margin-right:0 !important;
  text-align: center;
}

.button{
  &.bg-light-gray{
    color: #979797;
  }

  &.min_w_250{
    min-width: 250px;
  }
}

.order-button{
  .disabled{
    background-color: #d8d8d8 !important;
    pointer-events: none;
  }
}

.modal-emulation__next-button{
  position: absolute;
  right:32px;
  bottom:32px;
  font-size:20px !important;
  margin: 0 !important;
}

.button.big-margin{margin:20px 30px 20px 0;}
.button.small.big-margin{margin:20px 25px 20px 0;}
.button .fa{
  line-height:15px;
  font-size:18px;
  width:15px;
  vertical-align:middle;
}
.button .icon-before{margin:0 20px 0 0;}
.button .icon-after{margin:0 0 0 20px;}
.button.br-light{padding: 15px 51px;}
.button.br-semi-light{padding: 15px 50px 13px;}
.button.br-medium{padding: 13px 49px;}
.button.br-semi-thick{padding: 11px 47px;}
.button.br-thick{padding: 9px 45px;}

/* Buttons Small */
.button.small{padding:10px 28px;}
.button.small.br-light{padding:10px 27px;}
.button.small.br-semi-light{padding:9px 26px;}
.button.small.br-medium{padding:8px 25px;}
.button.small.br-semi-thick{padding:6px 23px;}
.button.small.br-thick{padding:4px 21px;}

/* Buttons Flat */
.button.flat{
  border:none!important;
  padding:16px 52px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* Buttons Unfilled */
.button.unfilled{
  background:none;
  background-color: transparent !important;
  border-style:solid;
  border-width:1px;
}
/* Buttons Shaped */
.button.shaped{
  border-width:0;
  padding: 9px 50px;
  border-radius:23px;
  -webkit-border-radius:23px;
  -moz-border-radius:23px;
}
.button.shaped .icon-before{margin:0 20px 0 -10px;}
.button.shaped .icon-after{margin:0 -10px 0 20px;}
.button.shaped.br-light{padding: 8px 49px;}
.button.shaped.br-semi-light{padding: 7px 48px;}
.button.shaped.br-medium{padding: 6px 47px;}
.button.shaped.br-semi-thick{padding: 4px 45px;}
.button.shaped.br-thick{padding: 2px 43px;}

/* Buttons 3D */
.button.b3d{
  border-bottom:5px solid rgba(0,0,0,.2);
  padding: 15px 52px 12px;
}

/* Buttons Extended */
.button.extended{
  display:block;
  margin-right:0;
  width:100%;
  text-align: center;
}
.button.fill-frm-top,
.button.fill-frm-right,
.button.fill-frm-bottom,
.button.fill-frm-left {
  position: relative;
  overflow: hidden;
  text-shadow: none;
}
.button.fill-frm-top span,
.button.fill-frm-right span,
.button.fill-frm-bottom span,
.button.fill-frm-left span {
  position: relative;
  z-index: 2;
}
.button.fill-frm-top:before,
.button.fill-frm-right:before,
.button.fill-frm-bottom:before,
.button.fill-frm-left:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  transition:		 all 0.3s ease;
}
.br-light.button.fill-frm-top:before,.br-semi-light.button.fill-frm-top:before,.br-medium.button.fill-frm-top:before,.br-semi-thick.button.fill-frm-top:before,.br-thick.button.fill-frm-top:before,
.br-light.button.fill-frm-right:before,.br-semi-light.button.fill-frm-right:before,.br-medium.button.fill-frm-right:before,.br-semi-thick.button.fill-frm-right:before,.br-thick.button.fill-frm-right:before,
.br-light.button.fill-frm-bottom:before,.br-semi-light.button.fill-frm-bottom:before,.br-medium.button.fill-frm-bottom:before,.br-semi-thick.button.fill-frm-bottom:before,.br-thick.button.fill-frm-bottom:before,
.br-light.button.fill-frm-left:before,.br-semi-light.button.fill-frm-left:before,.br-medium.button.fill-frm-left:before,.br-semi-thick.button.fill-frm-left:before,.br-thick.button.fill-frm-left:before {
  border-radius: 0;
}
.button.fill-frm-top:before{
  -webkit-transform: translateY(-100%) translateZ(0);
  -ms-transform:	 translateY(-100%) translateZ(0);
  transform:		 translateY(-100%) translateZ(0);
}
.button.fill-frm-bottom:before{
  -webkit-transform: translateY(100%) translateZ(0);
  -ms-transform:	 translateY(100%) translateZ(0);
  transform:		 translateY(100%) translateZ(0);
}
.button.fill-frm-right:before{
  -webkit-transform: translateX(100%) translateZ(0);
  -ms-transform:	 translateX(100%) translateZ(0);
  transform:		 translateX(100%) translateZ(0);
}
.button.fill-frm-left:before{
  -webkit-transform: translateX(-100%) translateZ(0);
  -ms-transform:	 translateX(-100%) translateZ(0);
  transform:		 translateX(-100%) translateZ(0);
}
.button.fill-frm-top:hover,
.button.fill-frm-right:hover,
.button.fill-frm-bottom:hover,
.button.fill-frm-left:hover {
  opacity: 1;
}
.button.fill-frm-top:hover:before,
.button.fill-frm-right:hover:before,
.button.fill-frm-bottom:hover:before,
.button.fill-frm-left:hover:before {
  -webkit-transform: translateX(0) translateY(0) translateZ(0);
  -ms-transform:	 translateX(0) translateY(0) translateZ(0);
  transform:		 translateX(0) translateY(0) translateZ(0);
}