.custom-bg1 {
  background-image: url(../img/bg/home_stunning_design_bg.png);
}
.custom-bg2 {
  background-image: url(../img/bg/featured_center_startup_bg.jpg);
}
.custom-bg3 {
  background-image: url(../img/promo-boxes/bg1.jpg);
}
.custom-bg4 {
  background-image: url(../img/promo-boxes/bg1.jpg);
}
.custom-bg5 {
  background-image: url(../img/promo-boxes/bg2.jpg);
}
.custom-bg6 {
  background-image: url(../img/promo-boxes/bg3.jpg);
}
.custom-bg7 {
  background-image: url(../img/bgNew.jpg);
}
.custom-bg8 {
  background-image: url(../img/gradient-bg.jpg);
}
.custom-bg9 {
  background-image: url(../img/bg.jpg);
}
.custom-bg10 {
  background-image: url(../img/be_creative_splendid_bg.jpg);
}
.custom-bg11 {
  background-image: url(../img/skills_teams_bg.jpg);
}
.custom-bg12 {
  background-image: url(../img/browser_right_dark_preview1.png);
}
.custom-bg13 {
  background-image: url(../img/skills_teams_bg_2.jpg);
}
.custom-bg14 {
  background-image: url(../img/our_awesome_blog_title_bg.jpg);
}
.custom-bg15 {
  background-image: url(../img/capa.png);
}
.custom-bg16 {
  background-image: url(../img/client_testimonials_bg_2.jpg);
}
.custom-bg17 {
  background-image: url(../img/fun_facts_bg_2.jpg);
}
.custom-bg18 {
  background-image: url(../img/one_page_get_in_touch_bg.jpg);
}
.custom-bg19 {
  background-image: url(../img/team/bg.jpg);
}
.custom-bg20 {
  background-image: url(../img/promo-boxes/bg5.jpg);
}
.custom-bg21 {
  background-image: url(../img/Untitled-2.jpg) !important;
}
.custom-bg22 {
  background-image: url(../img/fun_facts_bg_5.jpg);
}
.custom-bg23 {
  background-image: url(../img/be_creative_splendid_bg_2.jpg);
}
.custom-bg24 {
  background-image: url(../img/skills_teams_bg_4.jpg);
}
.custom-bg25 {
  background-image: url(../img/title1.jpg) !important;
}
.custom-bg26 {
  background-image: url(../img/world-map.jpg);
}
.custom-bg27 {
  background-image: url(../img/bgNew2.jpg);
}
.custom-bg28 {
  background-image: url(../img/bgNew3.jpg) !important;
}
.custom-bg29 {
  background-image: url(../img/bgNew4.jpg) !important;
}
.custom-bg30 {
  background-image: url(../img/bgNew5.jpg) !important;
}
.custom-bg31 {
  background-image: url(../img/bgNew6.jpg) !important;
}