::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#e2e3e6;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#e2e3e6;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#e2e3e6;
}
:-moz-placeholder { /* Firefox 18- */
  color:#e2e3e6;
}

/********************************************
			  		4-6. Forms
*********************************************/
.input-row{
  margin:0 -8px;
}
.input-row>div{
  padding:0 8px;
}
label{
  font-weight:700;
  font-size:0.875em;
  color:#525f71;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
.select2-container .select2-choice,
input[type="search"],
select,
textarea{
  display: block;
  width: 100%;
  padding: 15px 15px 13px;
  border: 1px solid #dce3ef;
  margin: 0;
  border-radius: 4px;
  font-weight: 100;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea{
  &:focus{
    border:1px solid map_get($colors, 'modal-blue');
    outline: none;
  }

  &.focus-purple{
    &:focus{
      border:1px solid map_get($colors, 'pink');
      outline: none;
    }
  }
}
label + input[type="text"],
label + input[type="password"],
label + input[type="email"],
label + input[type="tel"],
label + input[type="search"],
input[type="url"],
label + select,
label + textarea{
  margin-top:5px;
}
input[type="text"].unfilled,
input[type="password"].unfilled,
input[type="email"].unfilled,
input[type="tel"].unfilled,
input[type="search"].unfilled,
select.unfilled,
textarea.unfilled,
.shortcode_wysija input.wysija-input {
  background:none;
  border:2px solid #fff;
  color:#fff;
  outline:none!important;
  transition: border .3s;
}
input[type="text"].unfilled:focus,
input[type="password"].unfilled:focus,
input[type="email"].unfilled:focus,
input[type="tel"].unfilled:focus,
input[type="search"].unfilled:focus,
select.unfilled:focus,
textarea.unfilled:focus{
  border-color:map_get($colors, 'pink');
}

form{
  label,
  input[type="checkbox"]{
    cursor:pointer;
  }

  .chosen-container-multi .chosen-choices {
    background:#f4f6fa none repeat scroll 0 0;
    border:1px solid #dce3ef;
    border-radius:5px;
    display:block;
    margin:0;
    padding:11px 10px;
    width:100%;
  }

  .slider-handle {
    cursor: pointer;
  }

  .slider.slider-horizontal {
    margin-bottom: 8px;
    margin: 0;
  }
}

.share-form{
  position: relative;

  input[type="text"]{
    margin: 0;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
    border: solid 1px map_get($colors, 'border-grey');
    padding:8px 120px 8px 20px;
    background: #fff;
    min-height: 72px;
    transition: .1s ease-in-out;

    &:focus{
      border: solid 1px #4a90e2;
      outline: none;
      //border-radius: 5px;
      //box-shadow: 0 0 0 1px #4a90e2;

      +.button{
        background: #000;
      }
    }
  }

  .button{
    position: absolute;
    top:50%;
    right:8px;
    margin:0;
    padding: 19px 29px 16px;
    background: #d4d4d4;
    transform: translate(0, -50%);
  }
}

.search-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  margin-top: 30px;
}

.search-form__filter{
  width:30%;
  padding: 10px 20px 10px 10px;
  border-right: 1px solid #000;
  text-align: left;

  label{
    font-weight: 100;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-left: 15px;
  }

  select{
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 0 15px;
    background:url('../../images/Nav_Down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;


    &:focus{
      border: none;
      outline: none;
    }
  }
}

.search-form__input{
  padding: 20px;
  width:70%;
  text-align: left;
  position: relative;
  padding-right: 50px;



  input{
    border: none;
    width: 100%;
    background: transparent;

    &:focus{
      border: none;
      outline: none;
    }
  }

  button{
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    cursor: pointer;
  }
}

.quick-amplify-form{
  padding:40px;
}

.quick-amplify-form__wrap{
  padding: 15px;
  border: 1px solid #000;
}

.quick-amplify-form__input{
  //@extend.search-form__input;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input{
    border: none;
    width: 100%;
    background: transparent;
    margin-right: 30px;

    &:focus{
      border: none;
      outline: none;
    }
  }

  button{
    margin: 0;
  }

}

.form-item{
  margin-bottom: 40px;
  text-align: left;

  .form-upload{
    &.hover-border{
      border:1px solid transparent;
      border-radius: 0;
    }
  }

  &:last-child{
    margin-bottom:0;
  }

  .input-success{
    position: relative;

    input {
      padding-right: 50px;
    }

    i{
      position: absolute;
      top:50%;
      right:10px;
      transform: translate(0, -50%);
      font-size: 26px;
      color: #6fc319;
    }
  }

  &.edit-box{
    position: relative;

    textarea,
    input{
      &:hover,
      &:focus{
        border:1px solid map_get($colors, 'modal-blue');

        ~ .edit-box-text,
        ~ .edit-box-count,
        ~ .edit-box-error{
          display: block;
        }
      }
    }

    &:hover{
      .dropzone{
        border: 2px dashed transparent;
      }
      .form-upload{
        &.hover-border{
          border:1px solid map_get($colors, 'modal-blue');
        }
      }

      .dz-remove--icon {
        background: map_get($colors, 'modal-blue');

        i{
          background: map_get($colors, 'modal-blue');
        }

        &:after{
          display: block;
        }
      }
    }
  }

  .edit-box-text{
    display: none;
    position: absolute;
    left: 50%;
    top: -23px;
    padding: 4px 15px 2px;
    background: map_get($colors, 'modal-blue');
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transform: translate(-50%, 0);
    font-size: 14px;
    z-index: 10;
  }

  .edit-box-count{
    display: none;
    position: absolute;
    right: 2px;
    bottom: -18px;
    color: map_get($colors, 'modal-blue');
    font-size: 12px;
    font-style: italic;
  }

  .edit-box-error{
    display: none;
    position: absolute;
    left:2px;
    bottom: -18px;
    font-size: 12px;
    color: red;
  }
}

.input-ellipsis{
  text-overflow: ellipsis;
}

.input-notification{
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100;
  margin-top: 10px;

  a{
    text-decoration: underline;
  }
}

.input-with-icon{
  position: relative;

  input,
  section{
    padding-left:53px;
  }

  i{
    position: absolute;
    top:50%;
    left:15px;
    transform: translate(0,-50%);
    color: #c8cbd0;
    font-size: 26px;
  }
}

.form-item--few-blocks{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-item__title{
  font-weight: 700;
  margin-bottom: 0;
  margin-bottom:10px;
  text-transform: uppercase;
  font-family: MuseoSans;
  font-size: 16px;
  font-weight: bold;
}

.form-item__description{
  font-size: 14px;
  color:map_get($colors, 'text-grey')
}

.form-item__desc{
  margin-bottom: 0;
}

.gender-radio{
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #979797;
  overflow: hidden;

  input{
    display: none;
  }

  label{
    padding: 13px 15px;
    border-right: 1px solid #979797;
    transition: .2s ease-in-out;
    //margin-right: 20px;
    color: #8f8f90;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-family: MuseoSans;
    font-size: 20px;
    font-weight: 500;
    background: #d8d8d8;
    margin-bottom: 0;

    &:last-child{
      margin-right:0;
      border-right: none;
      //border-left: 1px solid #979797;
    }
  }

  input{
    &:checked + label{
      background: #fff;
      color: #000;
    }
  }
}

.payment-radio{
  input{
    display: none;
  }

  label{
    padding: 5px 15px 5px 45px;
    border: 1px solid map_get($colors, 'pink');
    transition: .2s ease-in-out;
    color: #a661e8;
    background: #fff;
    cursor: pointer;
    width: 100%;
    margin-botom: 10px;
    position: relative;

    &:before{
      content: '\f058';
      position: absolute;
      top:50%;
      left:10px;
      transform: translate(0, -50%);
      color: #6fc319;
      display: inline-block;
      font: normal normal normal 24px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: none;
    }

    &:last-child{
      margin-bottom:0;
    }
  }

  input{
    &:checked + label{
      &:before{
        display: block;
      }
    }
  }
}

.login-form{
  .form-item{
    margin-bottom: 30px;
  }
}

.select-block{
  width:100%;
  text-align: left;
  border-radius: 5px;
  background: #f4f6fa;

  select{
    border: 1px solid #dce3ef;
    padding: 10px 15px;
    font-family: MuseoSans;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    //border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    //padding: 0 15px;
    background:url('../../images/Nav_Down.svg');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
  }
}

.radio-block{
  margin: 15px 0;
  position: relative;

  &:last-child{
    margin:0;
  }

  [type="radio"] {
    display: none;

    &:checked{
      + label{
        &:before{
          background: #fff;
        }
        &:after {
          border:5px solid map_get($colors, 'modal-blue');
        }
      }
    }
  }

  label {
    position: relative;
    padding-left:50px;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transform: translate(0, -50%);
      border:1px solid #9f9f9f;
      background: #d8d8d8;
    }

    &:after {
      content: "";
      position: absolute;
      left: 1px;
      top: 50%;
      width:18px;
      height:18px;
      overflow: hidden;
      border-radius: 50%;
      transform: translate(0, -50%);
      border:0 solid transparent;
      transition: .2s ease-in-out;
    }
  }

  &.label-layer{
    padding-left:50px;

    label{
      width: 100%;
      height: 100%;
      position: absolute;
      left:0;
      top:0;
      z-index: 10;
      background: rgba(255, 255, 255, 0.5);
    }

    [type="radio"] {
      &:checked{
        + label{
          width: 0;
        }
      }
    }
  }
}

.payment{

}

.payment-item{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding:10px;

  ul{
    margin:0;
    margin-left:30px;
    margin-bottom:25px;
    padding:0;
    list-style: none;

    li{
      font-family: Helvetica;
      font-size: 20px;
      line-height: 1.2;
    }
  }
}

.payment-item__head{
  img{
    display: block;
    float: left;
    margin-right: 10px;
  }

  p{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
  }
}

.payment-card{
  padding:50px 0;
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
  font-weight:700;
}

.cart-type{
  float: right;
}

.login-form__wrap{
  padding:0 50px;

  h4{
    color:lighten(map_get($colors, 'grey'), 20%);
    margin:0;
  }
}

.login-block{
  padding:0 50px 0;


  &.br_b{
    border-bottom: 1px solid lighten(map_get($colors, 'grey'), 50%);
  }

  &.br_b--or{
    position: relative;
    border-bottom: 1px solid lighten(map_get($colors, 'grey'), 50%);

    &:after{
      content: 'or';
      position: absolute;
      bottom:-18px;
      left: 50%;
      padding:10px 30px;
      background: #fff;
      z-index: 1;
      transform: translate(-50%, 0);
      font-family: Helvetica;
      font-size: 20px;
      line-height: 1;
    }
  }

  a{
    display: block;
    text-align: center;
    margin-bottom: 20px;
    margin-right:0;

    &:last-child{
      margin-bottom:0;
    }
  }
}

.link-create-account{
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
  margin:0;
  padding-top: 40px;
}

.main-form{
  .nav-link{
    padding:0;
  }
  .tab-content{
    padding:0;
    border:none;
    z-index:1;
  }
}

.main-form__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul{
    text-align: right;
  }
  .nav-item{
    display: inline-block;
    margin-bottom:8px;
    margin-right:30px;

    &:last-child{
      margin-right:0;
    }
  }

  a{
    font-size: 25px;
    color: map_get($colors, 'default-link');

    svg{
      path{
        transition: .2s ease-in-out;
        fill:map_get($colors, 'default-link');
      }
    }

    &.active{
      color: map_get($colors, 'active-link');

      svg{
        path{
          fill:map_get($colors, 'active-link');
        }
      }
    }

    &:hover{
      color: map_get($colors, 'hover-link');

      svg{
        path{
          fill:map_get($colors, 'hover-link');
        }
      }
    }
  }
}

.main-form__menu-title{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 8px;
}

.modal-emulation__input{
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.22);
}

.label-icon{
  .select2-selection__rendered{
    position: relative;
    padding-left:35px !important;

    &:before{
      content: "\f02b";
      position: absolute;
      top:0;
      left:0;
      display: inline-block;
      font: normal normal normal 18px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 26px;
      color: #c8cbd0;
    }
  }
}



.select2-container{
  .select2-selection--multiple{
    padding: 10px 15px 8px;
    border: 1px solid #dce3ef;
    border-radius: 4px;
    font-weight: 100;
  }
}

.select2-container--default{
  .select2-search--inline{
    width: 100%;
    .select2-search__field{
      width: 100% !important
    }
  }

 &.select2-container--focus{
   .select2-selection--multiple{
     border: solid map_get($colors, 'modal-blue') 1px;
   }
 }

  .select2-selection--multiple{
    .select2-selection__choice {
      background-color: #e7b5f2;
      border: none;
      border-radius: 50px;
      cursor: default;
      float: left;
      margin-right: 5px;
      margin-top: 5px;
      padding: 0 15px;
      color: #fff;
    }

    .select2-selection__choice__remove {
      color: #f5e0f9;
      font-weight: bold;
      margin-right: 0;
      float: right;
      margin-left: 10px;

      &:hover {
        color: #fff;
      }
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: #e0f7ff;
    color: #06a9d4;
  }

}
