
/********************************************
			  		4-6. Forms
*********************************************/
.input-row{
  margin:0 -8px;
}
.input-row>div{
  padding:0 8px;
}
label{
  font-weight:700;
  font-size:0.875em;
  color:#525f71;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
.select2-container .select2-choice,
input[type="search"],
select,
textarea{
  display:block;
  width:100%;
  padding:11px 10px;
  background:#f4f6fa;
  border:1px solid #dce3ef;
  margin:0;
  border-radius:5px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
select:focus,
textarea:focus{
  outline:1px solid #a65bf4;
}
label + input[type="text"],
label + input[type="password"],
label + input[type="email"],
label + input[type="tel"],
label + input[type="search"],
label + select,
label + textarea{
  margin-top:5px;
}
input[type="text"].unfilled,
input[type="password"].unfilled,
input[type="email"].unfilled,
input[type="tel"].unfilled,
input[type="search"].unfilled,
select.unfilled,
textarea.unfilled,
.shortcode_wysija input.wysija-input {
  background:none;
  border:2px solid #fff;
  color:#fff;
  outline:none!important;
  transition: border .3s;
}
input[type="text"].unfilled:focus,
input[type="password"].unfilled:focus,
input[type="email"].unfilled:focus,
input[type="tel"].unfilled:focus,
input[type="search"].unfilled:focus,
select.unfilled:focus,
textarea.unfilled:focus{
  border-color:#a65bf4;
}

form{
  label,
  input[type="checkbox"]{
    cursor:pointer;
  }

  .chosen-container-multi .chosen-choices {
    background:#f4f6fa none repeat scroll 0 0;
    border:1px solid #dce3ef;
    border-radius:5px;
    display:block;
    margin:0;
    padding:11px 10px;
    width:100%;
  }

  .slider-handle {
    cursor: pointer;
  }

  .slider.slider-horizontal {
    margin-bottom: 8px;
  }
}

.share-form{
  position: relative;

  input[type="text"]{
    margin: 0;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
    border: solid 1px map_get($colors, 'border-grey');
    padding:8px 120px 8px 20px;
    background: #fff;
    min-height: 72px;
    transition: .1s ease-in-out;

    &:focus{
      border: solid 1px #4a90e2;
      outline: none;
      //border-radius: 5px;
      //box-shadow: 0 0 0 1px #4a90e2;

      +.button{
        background: #000;
      }
    }
  }

  .button{
    position: absolute;
    top:50%;
    right:8px;
    margin:0;
    padding: 19px 29px 16px;
    background: #d4d4d4;
    transform: translate(0, -50%);
  }
}


.search-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  margin-top: 30px;
}

.search-form__filter{
  width:30%;
  padding: 10px 20px 10px 10px;
  border-right: 1px solid #000;
  text-align: left;

  label{
    font-weight: 100;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-left: 15px;
  }

  select{
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 0 15px;
    background:url('../../images/caret.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;


    &:focus{
      border: none;
      outline: none;
    }
  }
}

.search-form__input{
  padding: 20px;
  width:70%;
  text-align: left;
  position: relative;
  padding-right: 50px;



  input{
    border: none;
    width: 100%;
    background: transparent;

    &:focus{
      border: none;
      outline: none;
    }
  }

  button{
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    cursor: pointer;
  }
}




.quick-amplify-form{
  padding:40px;
}

.quick-amplify-form__wrap{
  padding: 15px;
  border: 1px solid #000;
}

.quick-amplify-form__input{
  //@extend.search-form__input;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input{
    border: none;
    width: 100%;
    background: transparent;
    margin-right: 30px;

    &:focus{
      border: none;
      outline: none;
    }
  }

  button{
    margin: 0;
  }

}

.form-item{
  margin-bottom: 40px;
  text-align: left;

  &:last-child{
    margin-bottom:0;
  }

  .input-success{
    position: relative;

    input {
      padding-right: 50px;
    }

    i{
      position: absolute;
      top:50%;
      right:10px;
      transform: translate(0, -50%);
      font-size: 26px;
      color: #6fc319;
    }
  }
}

.input-ellipsis{
  text-overflow: ellipsis;
}

.input-notification{
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-top:10px;

  a{
    text-decoration: underline;
  }
}

.form-item--few-blocks{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-item__title{
  font-weight: 700;
  margin-bottom: 0;
  margin-bottom:10px;
  text-transform: uppercase;
  font-family: MuseoSans;
  font-size: 16px;
  font-weight: bold;
}

.form-item__desc{
  margin-bottom: 0;
}

.gender-radio{
  display: flex;
  justify-content: space-between;

  input{
    display: none;
  }

  label{
    padding: 13px 15px;
    border: 1px solid #a65bf4;
    transition: .2s ease-in-out;
    margin-right: 20px;
    color: #a661e8;
    background: #fff;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-family: MuseoSans;
    font-size: 20px;
    font-weight: 500;

    &:last-child{
      margin-right:0;
    }
  }

  input{
    &:checked + label{
      background: #a661e8;
      color: #fff;
    }
  }
}

.payment-radio{
  input{
    display: none;
  }

  label{
    padding: 5px 15px 5px 45px;
    border: 1px solid #a65bf4;
    transition: .2s ease-in-out;
    color: #a661e8;
    background: #fff;
    cursor: pointer;
    width: 100%;
    margin-botom: 10px;
    position: relative;

    &:before{
      content: '\f058';
      position: absolute;
      top:50%;
      left:10px;
      transform: translate(0, -50%);
      color: #6fc319;
      display: inline-block;
      font: normal normal normal 24px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: none;
    }

    &:last-child{
      margin-bottom:0;
    }
  }

  input{
    &:checked + label{
      &:before{
        display: block;
      }
    }
  }
}

.login-form{
  .form-item{
    margin-bottom: 30px;
  }

  //.form-button{
  //  .button{
  //    margin:0;
  //    width:100%;
  //    text-align: center;
  //  }
  //}
}

.select-block{
  width:100%;
  text-align: left;
  border-radius: 5px;
  background: #f4f6fa;

  select{
    border: 1px solid #dce3ef;
    padding: 10px 15px;
    font-family: MuseoSans;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    //border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    //padding: 0 15px;
    background:url('../../images/caret.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
  }
}

.payment{

}

.payment-item{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding:10px;

  ul{
    margin:0;
    margin-left:30px;
    margin-bottom:25px;
    padding:0;
    list-style: none;

    li{
      font-family: Helvetica;
      font-size: 20px;
      line-height: 1.2;
    }
  }
}

.payment-item__head{
  img{
    display: block;
    float: left;
    margin-right: 10px;
  }

  p{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
  }
}

.payment-card{
  padding:50px 0;
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
  font-weight:700;
}

.cart-type{
  float: right;
}

.login-form__wrap{
  padding:0 50px;

  h4{
    color:lighten(map_get($colors, 'grey'), 20%);
    margin:0;
  }
}

.login-block{
  padding:0 50px 0;


  &.br_b{
    border-bottom: 1px solid lighten(map_get($colors, 'grey'), 50%);
  }

  &.br_b--or{
    position: relative;
    border-bottom: 1px solid lighten(map_get($colors, 'grey'), 50%);

    &:after{
      content: 'or';
      position: absolute;
      bottom:-18px;
      left: 50%;
      padding:10px 30px;
      background: #fff;
      z-index: 1;
      transform: translate(-50%, 0);
      font-family: Helvetica;
      font-size: 20px;
      line-height: 1;
    }
  }

  a{
    display: block;
    text-align: center;
    margin-bottom: 20px;
    margin-right:0;

    &:last-child{
      margin-bottom:0;
    }
  }
}

.link-create-account{
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
  margin:0;
  padding-top: 40px;
}

.main-form{
  .nav-link{
    padding:0;
  }
  .tab-content{
    padding:0;
    border:none;
  }
}
.main-form__menu{
  .nav-item{
    display: inline-block;
    margin-bottom:8px;
    margin-right:30px;

    &:last-child{
      margin-right:0;
    }
  }

  a{
    font-size: 25px;
    color: #4a4a4a;

    &:hover{
      color: #a65bf4;
    }
  }
}