.icon{
  display: inline-block;

  &.icon-target-icon{
    @include sprite($target-icon);
  }

  &.icon-message{
    @include sprite($message-icon);
  }

  &.icon-edit{
    @include sprite($edit-icon);
  }

  &.icon-link{
    @include sprite($link-icon);
  }

  &.icon-target{
    @include sprite($target-icon);
  }

  &.icon-customizations{
    @include sprite($customizations-icon);
  }

  &.icon-location{
    @include sprite($location-icon);
  }

  &.icon-timing{
    @include sprite($timing-icon);
  }

  &.icon-gender{
    @include sprite($gender-icon);
  }

  &.icon-facebook-like{
    @include sprite($facebook-like);
  }

  &.icon-facebook-comment{
    @include sprite($facebook-comment);
  }

  &.icon-facebook-share{
    @include sprite($facebook-share);
  }
}

.icon-round{
  width:95px;
  height:95px;
  border-radius: 50%;
  background: #d8d8d8;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto 25px;
}