@media (max-width: 767px) {


  /* Mobile Menu Overrides */

  #header-placeholder-space{
    display:none!important;
  }

  html #header.fixed-header,
  html #header.just-fixed-header,
  html #header.header6{
    position:static!important;
  }

  html #header.header6{
    background:#111;
  }

  html body.headerstyle6 .page-heading{
    padding-top:60px;
  }

  #sideheader{
    width:100%!important;
    padding:0 15px!important;
    position:static!important;
  }

  html body.headerstyle7,
  html body.headerstyle7 .full-width{
    padding-left:0;
  }

  #header .navigation,
  #header .navigation>div,
  #header .navigation>nav{
    display:block!important;
    width:auto!important;
  }

  #main-header #main-nav>.menu{text-align:left!important;}
  #main-nav{margin:0 -15px;}


  #header .header-shopping-cart,
  #header .header-search-box,
  #sideheader .header-shopping-cart,
  #sideheader .header-search-box,
  #header .navigation .header-shopping-cart,
  #header .navigation .header-search-box{
    display:none!important;
  }

  #sideheader #main-nav{
    margin-bottom:0!important;
  }

  #sideheader .logo{
    margin:30px 0!important;
  }

  //#header .logo,
  #sideheader .logo{
    display:block;
    text-align:center;
  }

  #header #preheader ul{
    display:block;
    text-align:center;
  }

  #header #main-header ul{
    margin:15px 0;
  }

  #header #main-header .menu ul{
    margin:0;
  }

  #header .align-right{
    text-align:center;
  }

  #main-header ul + ul,
  #main-header .button + ul{
    margin-left:0!important;
  }

  #sideheader + #header.header-fixed{
    position:static!important;
  }

  #sideheader #main-nav li a:after{
    content:none!important;
  }

  .blog-post-inner{
    border-radius: 4px;
    box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .post-content{
    padding:20px 20px 10px;
  }

  .post-link{
    display: block;
  }

  .mobile-menu{
    display: block;
  }

  //.modal-body{
  //  max-height: calc(100vh - 378px);
  //  overflow-y: auto;
  //}

  .message-preview{
    margin:0;
  }

  .message-list{
    padding-left:0;
    padding-right:0;
  }

  .message-article{
    border-right: none;
    max-height: 100%;
  }

  .message-edit{
    a{
      position: absolute;
      top:auto;
      bottom:3px;
    }
  }

  .message-reach__views{
    margin-top: 18px;
  }

  .message-set-reach{
    padding: 32px 35px 32px;

    .modal-title {
      margin-bottom: 15px;
      font-size: 16px;
    }
  }

  //.message-reach__costs{
  //  font-size: 16px;
  //}

  .modal-header{
    padding-left:15px;
    padding-right:15px;
  }

  .modal-title{
    font-size: 20px;
  }

  #main-footer .row{
    margin: 0;
  }

  .button{
    padding: 16px 40px 15px;
  }

  .share-form {
    input[type="text"]{
      min-height:54px;
    }

    .button{
      right: 3px;
      padding: 16px 29px 14px;
    }
  }

  .first-screen {
    h1 {
      font-size: 24px;
    }
  }

  h2{
    font-size: 24px;
  }

  .modal-body__overflow{
    min-height:250px;
  }

  .main-banner{
    .button-block{
      flex-direction: column;

      .button{
        margin-right:0;
        margin-bottom:20px;
      }
    }

    .button-notification{
      max-width: 100%;
    }
  }

  .align-center--xs{
    text-align: center;
  }

  .promo-box-actions{
    padding-top:20px;
    .select-block{
      margin-bottom:10px;
    }
  }

  /////////////////////////////////////// table mobile ////////////////

  .table-mobile{
    border:none;

    thead{
      display: none;
    }

    tr{
      display: block;

      td{
        display: block;
        position: relative;
        text-align: right;
        border-bottom:none;
        border-top:none;

        &:first-child{
          border-top:1px solid #ddd;
          padding-top: 20px;
        }

        &:last-child{
          border-bottom:1px solid #ddd;
          text-align: center !important;
          margin-bottom:30px;
        }

        &:before{
          position: relative;
          top: 0;
          left: 0;
          margin-right: 20px;
          text-transform: uppercase;
          font-weight: 700;
          color: map_get($colors, 'pink');
          float: left;
        }
      }
    }
  }

  .table-promoted{
    td{
      &:nth-child(1){
        &:before{
          content:'name';
        }
      }

      &:nth-child(2){
        &:before{
          content:'impressions';
        }
      }

      &:nth-child(3){
        &:before{
          content:'reach';
        }
      }

      &:nth-child(4){
        &:before{
          content:'click';
        }
      }

    }
  }

  .table-adds{
    td{
      &:nth-child(1){
        &:before{
          content:'name';
        }
      }

      &:nth-child(2){
        &:before{
          content:'impressions';
        }
      }

      &:nth-child(3){
        &:before{
          content:'time amplified';
        }
      }

      &:nth-child(4){
        &:before{
          content:'# earned from ad';
        }
      }

    }
  }

  .login-block {
    padding: 0;
  }

  .login-form__wrap{
    padding:0;
  }

  .owl-item>div {
    padding: 0 5px;
  }

  .sc-blog-post{
     &.blog-post-standard{
        &.style-normal{
          .post-title{
            min-height:49px;
          }
        }
     }
  }
}