/**
 *	Filename: responsive.css
 *
 *	Contains Responsiveness CSS
 *
 *	Table of contents (search for double hash ID to scroll to it):
 *	- 1. Large Screens ≥ 1200px (##largedesktop)
 *	- 2. Medium Screens ≥ 992px	(##smalldesktop)
 *	- 3. Small Screens ≥ 768px (##tablet)
 *	- 4. Extra Small Screens < 768px (##mobile)
 */


/************************************
  1. Large Screens (##largedesktop)
************************************/
@media(min-width:1251px) and (max-width: 1450px){

  #main-nav li + li {
    margin-left: 30px;
  }
  #header.header-full-width .navigation > div:not(.btn-container) > a {
    padding-left: 20px;
    margin-left: 20px;
  }
}
@media(min-width:1300px) {

  body:not(.b_1170) #header.header-full-width #main-nav ul li.megamenu.megamenu-columns-4 .dropdown-inner {
    width: 100% !important;
  }
}
@media(min-width:1200px) and (max-width: 1250px){
  #main-nav li + li {margin-left: 20px;}
  .content-with-sidebar .woocommerce ul.products li.product .shop-meta li + li {margin-left: 3px;}
  .content-with-sidebar .upsells.products ul.products li.product .shop-meta li + li,.content-with-sidebar .related.products ul.products li.product .shop-meta li + li {margin-left: 3px;}
  .woocommerce .cart-collaterals .cross-sells ul.products .content,
  .content-with-sidebar .upsells.products ul.products li.product .woocommerce ul.products li.product .content,
  .content-with-sidebar .related.products ul.products li.product .woocommerce ul.products li.product .content {padding: 10px 15px 12px;}
  .woocommerce .cart-collaterals .cross-sells ul.products .shop-footer,
  .content-with-sidebar .upsells.products ul.products li.product .woocommerce ul.products li.product .shop-footer,
  .content-with-sidebar .related.products ul.products li.product .woocommerce ul.products li.product .shop-footer {padding: 0 15px 32px;}

  .content-with-sidebar ul.products li.product .shop-footer {padding: 0 10px 32px;}
  .content-with-sidebar ul.products li.product .content {padding: 10px 10px 12px;}

}

/************************************
  2. Medium Screens (##smalldesktop)
************************************/

@media(min-width:992px) and (max-width:1250px){
  .woocommerce ul.products {margin-right: -15px;margin-left: -15px;}
  .woocommerce ul.products li.product {padding-right: 15px;padding-left: 15px;}
  .content-with-sidebar ul.products li.product {padding-right: 10px;padding-left: 10px;}
  .portfolio-item.portfolio-style2 .portfolio-categories li {font-size: 15px;}
  .portfolio-item.portfolio-style2 .portfolio-title {font-size: 32px;}
}
@media(min-width:992px) and (max-width:1199px){

  /* Header */
  #main-nav li + li, #header .header-shopping-cart a, #header .header-search-box a{margin-left:20px;}
  #main-nav li a {font-size: 12px;}

  #header.header-full-width #main-header {padding: 0 15px;}

  #main-nav li + li {margin-left: 8px;}
  #header.header-full-width .navigation > div:not(.btn-container) > a {padding-left: 12px;margin-left: 12px;}
  /* Footer */
  #main-footer .row{margin:0 -20px;}
  #main-footer .row>div{padding:0 20px;}

  /* Sidebar */
  .content-with-sidebar .main-content{padding-right:35px;}
  .content-with-sidebar .sidebar + .main-content{padding-left:35px;}
  .content-with-sidebar .sidebar>.sidebar-container{padding-left:35px;}
  .content-with-sidebar .sidebar.sidebar-left>.sidebar-container{padding-right:35px;}
  .content-with-sidebar .sidebar + .main-content:before{margin-left:-35px;}

  .content-with-sidebar.sidebar-dual .sidebar-right>.sidebar-container{padding-left:30px;}
  .content-with-sidebar.sidebar-dual .sidebar-left>.sidebar-container{padding-right:30px;}
  .content-with-sidebar.sidebar-dual .sidebar + .main-content:before{margin-left:-30px;}
  .content-with-sidebar.sidebar-dual .main-content{padding-left:30px; padding-right:30px;}

  .sidebar-left .widget_nav_menu ul{margin-right:-35px;}
  .sidebar-dual .sidebar-left .widget_nav_menu ul{margin-right:-30px;}
  .sidebar-right .widget_nav_menu ul{margin-left:-35px;}
  .sidebar-dual .sidebar-right .widget_nav_menu ul{margin-left:-30px;}
  .counter-box.style3 .sc-counter, .counter-box.style3 .counter-sufix, .counter-box.style3 .counter-prefix {font-size: 4em;}

  /* Portfolio */
  .recent-projects .portfolio-item{width:33.3333%;}

  /* Elements */
  .content-box.style6{padding:40px;}
  .shop-box h1.big{font-size:4em;}
  .shop-box h2.big{font-size:2em;}
  .post-share .social-sharebox .share-button{margin:5px 8px;}

  .headerstyle7 #main-footer > .container > .row {display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex; align-items: stretch; flex-wrap: wrap;}
  .headerstyle7 #main-footer > .container > .row > [class^=col-] {width: 49.5% !important;}

  .mejs-controls a.mejs-horizontal-volume-slider {width: 5% !important;}
  .woocommerce ul.products li.product .shop-meta li a.button, .woocommerce ul.products li.product .shop-meta li a.btn,.woocommerce ul.products li.product .shop-meta li a.added_to_cart{width: 33px;height: 33px;}
  .woocommerce .cart-collaterals .cross-sells ul.shop-meta li {width: auto;}
  .woocommerce ul.products li.product .shop-meta li .raty-rating{height: 33px;}
  .woocommerce ul.products li.product .shop-footer {padding: 0 10px 32px;}
  .woocommerce ul.products li.product .content {padding: 10px 10px 12px;}
  .woocommerce ul.products li.product .shop-meta li .raty-rating{padding: 0px 5px;}
  .woocommerce ul.products li.product .shop-meta li .raty-rating img{margin-top: -5px;}
  .woocommerce ul.products li.product .shop-meta li a.button, .woocommerce ul.products li.product .shop-meta li a.btn{background-position: -8px -9px;}
  .woocommerce ul.products li.product .shop-meta li a.button:hover,
  .woocommerce ul.products li.product .shop-meta li a.btn:hover{background-position: -8px -9px;}
  .content-with-sidebar.sidebar-dual ul.products li.product .shop-meta li a.add-to-cart:hover,
  .content-with-sidebar.sidebar-dual .shop-meta li a.add-to-cart:hover {background-position: -5px -5px;}
  .woocommerce ul.products li.product .shop-meta li a.btn.details{background-position: -59px -9px;}
  .woocommerce ul.products li.product .shop-meta li a.added_to_cart {background-position: -108px 50%;}
  .content-with-sidebar .fs-number {padding: 0 45px;}
  .content-with-sidebar .fs-number-arrow {width: 45px; height: 45px;}
  .woocommerce .content-with-sidebar .button.single_add_to_cart_button {padding: 14px 20px;}
  .content-with-sidebar .fs-number-arrow {background-position: 50% -5px;}
  .fs-number-arrow.fs-number-down {background-position: 50% -59px;}
  .content-with-sidebar .upsells.products > .container, .content-with-sidebar .related.products > .container {padding: 0 15px;}

  .woocommerce .summary .group_table .quantity .fs-number {width: 100px; padding: 0 25px;}
  .woocommerce .summary .group_table .quantity .fs-number .fs-number-arrow {width: 25px;}

  .woocommerce .content-with-sidebar .summary .group_table .quantity .fs-number {width: 154px; padding: 0 50px;}
  .woocommerce .content-with-sidebar .summary .group_table .quantity .fs-number-arrow {width: 50px}

  .woocommerce .content-with-sidebar div.product form.cart .group_table td.label,
  .woocommerce .content-with-sidebar div.product form.cart .group_table td.price {width: 100%; float: none;}
  .woocommerce .price_slider_amount .price_label {padding: 5px 2px;}

  .woocommerce .content-with-sidebar .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {width: 65%;}

  .sidebar-dual .related-post.related-post-style2 header {position: relative;top: auto;left: auto;}
  .sidebar-dual .related-post.related-post-style2 .post-content {padding-bottom: 0;}
  .sidebar-dual .related-post.related-post-style2 .post-content,
  .sidebar-dual .related-post.related-post-style2 .post-content a,
  .sidebar-dual .related-post.related-post-style2 .post-content h3,
  .sidebar-dual .related-post.related-post-style2 .post-content h6 {color: #333333;}
  .content-box.style12 {padding: 110px 50px 65px;}

  .features .features-row .feature {-webkit-flex-basis: 50%;flex-basis: 50%;}
}


/************************************
    3. Small Screens (##tablet)
************************************/

@media (max-width:991px){

  #main-nav li + li, #header .header-shopping-cart a, #header .header-search-box a{margin-left:20px;}
  #main-nav li a {font-size: 11px;}

  #header #lower-header > .container,#header #main-header .container {width: 100%;}

  #header.just-fixed-header .logo .sticky-logo + .default-logo,
  #header.fixed-header .logo .sticky-logo + .default-logo,
  #header .logo .sticky-logo {
    display: none;
  }
  #header.just-fixed-header .logo .sticky-logo,
  #header.fixed-header .logo .sticky-logo {
    display: none;
  }
  #header.header-full-width #main-header {padding: 0;}
  #header #main-nav ul li.megamenu .dropdown-inner .mn-sub > li {-webkit-flex-basis: 20%;flex-basis: 20%;}
  #header #main-nav ul li.megamenu .mn-sub > li > p, #header #main-nav ul li.megamenu .mn-sub > li a {padding-left: 5px;}
  #header #main-nav ul li.megamenu .dropdown-inner {display: none;visibility: visible !important;width: 100% !important;position: relative;min-width: auto;top: auto !important;left: auto !important; right: auto !important;margin: 0;}
  #header #main-nav ul li.megamenu .dropdown-inner .mn-sub {display: block;}
  #header #main-nav ul li.megamenu .dropdown-inner .mn-sub > li > a, #header #main-nav ul li.megamenu .dropdown-inner .mn-sub > li > p {display: none;}
  #header #main-nav ul li.megamenu .dropdown-inner .mn-sub > li a {border-top: 1px solid #eee !important;padding: 20px 25px !important;font-size: 18px !important;text-transform: none !important;font-weight: 400 !important;color: #718097 !important;white-space: normal !important;opacity: 1!important;}
  #header #main-nav ul ul ul {position: relative; top: auto;left: auto;}

  #header #main-nav ul ul {-webkit-transition: none; -moz-transition: none; transition: none;}
  #header #main-nav ul .mn-sub > li {-webkit-transition: none; -moz-transition: none; transition: none; opacity: 1; -webkit-transform: none; -moz-transform: none; -ms-transform: none; transform: none;}
  #header .navigation .btn-container{display: none !important;}

  #main-header > .container {width: 100%;}

  .banners .half-width {width: 100%;}
  #sideheader{width:100%!important;padding:0!important;position:static!important;}
  html body.headerstyle7, html body.headerstyle7 .full-width {padding-left: 0;}
  #sideheader + #header.header-fixed {position: static!important;}
  .headerstyle7 #main-nav .menu {display: none;background: #fff;}
  .headerstyle7 #header .header-shopping-cart, .headerstyle7 #header .header-search-box, .headerstyle7 #sideheader .header-shopping-cart, .headerstyle7 #sideheader .header-search-box, .headerstyle7 #header .navigation .header-shopping-cart, .headerstyle7 #header .navigation .header-search-box {display: none!important;}
  .headerstyle7 #mobile-menu-button {display: block;height: 65px;overflow: hidden;cursor: pointer;border: 1px solid #eee;padding: 10px 20px;background: #fff;transition: background .3s;-webkit-transition: background .3s;-moz-transition: background .3s;}
  .headerstyle7 #sideheader #main-nav {margin-bottom: 0!important;}
  .headerstyle7 #mobile-menu-button span {display: block;height: 4px;width: 40px;background: #718097;margin: 7px auto;transition: background .3s;-webkit-transition: background .3s;-moz-transition: background .3s;}
  .headerstyle7 #sideheader .logo {margin: 30px 0!important;}
  .headerstyle7 #main-nav .menu a {padding: 20px 25px!important;font-size: 18px!important;text-transform: none!important;font-weight: 400!important;color: #718097!important;white-space: normal!important;opacity: 1!important;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"!important;filter: alpha(opacity=100)!important;}
  .headerstyle7 #main-nav li, .headerstyle7 #main-nav li + li {display: block!important;margin: 0!important;position: relative !important;}
  .headerstyle7 #main-nav li + li>a, .headerstyle7 #main-nav ul ul li>a {border-top: 1px solid #eee!important;}
  .headerstyle7 .dropdown-icon span {width: 21px;height: 21px;margin: 22px auto;display: block;background: url(../images/sprites/accordion-icon.png) no-repeat;}
  .headerstyle7 .dropdown-icon {position: absolute;top: 0;right: 0;width: 65px;height: 65px;z-index: 1;cursor: pointer;}
  .headerstyle7 #main-nav ul {visibility: visible!important;min-width: 0!important;position: static!important;padding: 0!important;opacity: 1!important;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"!important;filter: alpha(opacity=100)!important;box-shadow: none!important;-webkit-box-shadow: none!important;-moz-box-shadow: none!important;transform: none!important;-webkit-transform: none!important;-moz-transform: none!important;-ms-transform: none!important;-o-transform: none!important;border: none!important;}
  .headerstyle7 #main-nav .menu li.dropdown-active>a {color: #fff!important;background-color: #5a64e7!important;}
  .headerstyle7 li.dropdown-active>.dropdown-icon span {background-position: -21px 0;}
  .headerstyle7 #sideheader #main-nav li a:after {content: none;}
  .headerstyle7 #preheader > .container > .row > .align-left, .headerstyle7 #preheader > .container > .row > .align-center, .headerstyle7 #preheader > .container > .row > .align-right {width: 100%; text-align: center !important;}
  .sidebar-left .widget_nav_menu_alt > .menu-primary-menu-container > ul{margin-right:0;}
  .sidebar-dual .sidebar-left .widget_nav_menu_alt > .menu-primary-menu-container > ul{margin-right:0;}
  .sidebar-left .widget_nav_menu_alt ul a{border-right: 1px solid #dce3ef;}
  .sidebar-right .widget_nav_menu_alt > .menu-primary-menu-container > ul{margin-left:0;}
  .sidebar-dual .sidebar-right .widget_nav_menu_alt > .menu-primary-menu-container > ul{margin-left:0;}

  .blog-post.style-featured .post-content {position: relative;top: auto;left: auto;right: auto;}
  .page-heading .breadcrumbs {float: none;display: block; margin-top: 1.5em;}
  .page-heading h1,.page-heading h2,.page-heading h3,.page-heading h4,.page-heading h5,.page-heading h6 {float: none;display: block;}

  .no-flexbox .page-heading > .container,
  .no-flexbox .page-heading .breadcrumbs,
  .no-flexbox .page-heading .title,
  .page-heading > .container {display: block;}
  .no-flexbox .page-heading .breadcrumbs {text-align: left;}

  .woocommerce div.product form.cart .group_table tr:before,.woocommerce div.product form.cart .group_table tr:after{content: '';display: table;}
  .woocommerce div.product form.cart .group_table tr:after{clear: both;}
  .woocommerce div.product form.cart .group_table td.label,
  .woocommerce div.product form.cart .group_table td.price {width: 50%; float: left;}
  .woocommerce .content-with-sidebar div.product form.cart .group_table td.label,
  .woocommerce .content-with-sidebar div.product form.cart .group_table td.price {width: 100%; float: none;}

  .client-logo .image-client-block {width: 33.33333333333333%;}

  .page-heading.page-heading-alt h1 {font-size: 38px;}
  .page-heading.page-heading-alt .portfolio-pagination.left a {display: none;}
  .page-heading.page-heading-alt .portfolio-pagination.right {text-align: center;}
  .page-heading.page-heading-alt .portfolio-pagination.right a {margin-top: 0;margin-bottom: 0;}
  .page-heading.page-heading-alt .portfolio-pagination.right .portfolio-all {display: inline-block;}

  .blog-extended-header.blog-extended-header-alt h1 {font-size: 38px;}

  .post-author.style2 .author-content {padding: 0;}

  .content-box.style12 {display: block; border-left: none; border-bottom: 1px solid #eeeeee;}

  .latest-post {width: 100%;display: block;border-bottom: 1px solid #eeeeee;}
  .latest-post article {padding: 50px;}

  .features .features-row .feature {-webkit-flex-basis: 100%;flex-basis: 100%;}
  .features .features-row .feature figure {position: relative;top: auto;left: auto;min-height: 0;}

  #splendid-main-container {margin-bottom: 0 !important;}
  #footer.style3 {position: relative;top: auto;bottom: auto;left: auto;right: auto;}

  .latest-post {-webkit-flex-basis: 100%;flex-basis: 100%;}

  .testimonial.style-4 {
    margin-bottom: 30px;
  }
  .sm-bg-none {
    background-image: none !important;
  }

}

@media(min-width:768px) and (max-width:991px){

  /* Header */
  #main-nav li + li, #header .header-shopping-cart a, #header .header-search-box a{margin-left:10px;}

  /* Footer */
  #main-footer .row{margin:0 -15px;}
  #main-footer .row>div{padding:0 15px;}

  /* Sidebar */
  .content-with-sidebar .main-content{padding-right:15px;}
  .content-with-sidebar .sidebar + .main-content{padding-left:15px;}
  .content-with-sidebar .sidebar>.sidebar-container{padding-left:15px;}
  .content-with-sidebar .sidebar.sidebar-left>.sidebar-container{padding-right:15px;}
  .content-with-sidebar .sidebar + .main-content:before{margin-left:-15px;}

  .content-with-sidebar.sidebar-dual .sidebar-right>.sidebar-container{padding-left:15px;}
  .content-with-sidebar.sidebar-dual .sidebar-left>.sidebar-container{padding-right:15px;}
  .content-with-sidebar.sidebar-dual .sidebar + .main-content:before{margin-left:-15px;}
  .content-with-sidebar.sidebar-dual .main-content{padding-left:30px; padding-right:15px;}

  .sidebar-left .widget_nav_menu ul{margin-right:-15px;}
  .sidebar-dual .sidebar-left .widget_nav_menu ul{margin-right:-15px;}
  .sidebar-right .widget_nav_menu ul{margin-left:-15px;}
  .sidebar-dual .sidebar-right .widget_nav_menu ul{margin-left:-15px;}

  /* Blog */
  .blog-post-medium .post-side + .post-featured-image{display:none;}
  .sc-blog-post.style-squared .blog-post-inner .post-featured-image,
  .sc-blog-post.style-squared .blog-post-inner .post-content{display:block; width:100%; padding-left:0;}
  .blog-posts-squared .posts-row>.blog-post:first-child{padding-right:30px;}
  .blog-posts-squared .posts-row>.blog-post + .blog-post{padding-left:30px;}

  /* Portfolio */
  .recent-projects .portfolio-item{width:33.3333%;}

  /* Elements */
  .content-box.style6{padding:40px;}
  .shop-box h1.big{font-size:4em;}
  .shop-box h2.big{font-size:2em;}
  .post-share .social-sharebox .share-button{margin:5px 8px;}
  .share-button{margin:5px 14px;}
  .pricing-table span.price{font-size:48px;}
  .accordion-content, .tab-content{padding:10px 20px;}
  .coming-soon-counter .counter-item{padding:30px;}
  .shop-meta li .raty-rating{display:none;}

  /* Calendar Widget */
  #wp-calendar caption {padding: 0;}
  #wp-calendar th,#wp-calendar td{padding: 0;font-size: 14px;}
  #wp-calendar tfoot td#prev {padding-left: 5px;}
  #wp-calendar tfoot td#next {padding-right: 5px;}

  .headerstyle7 #main-footer > .container > .row {display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex; align-items: stretch; flex-wrap: wrap;}
  .headerstyle7 #main-footer > .container > .row > [class^=col-] {width: 49.5% !important;}

  .blog-post.style-featured .post-content .post-meta li {font-size: 10px;}
  .blog-post.style-featured .post-content .post-title {font-size: 1.3em;}

  #main-footer .widget{margin:40px 0;}

  .woocommerce ul.products li.product, .woocommerce .content-with-sidebar ul.products li.product {width: 50%;}
  .woocommerce .content-with-sidebar ul.products li.product .content {padding: 10px 10px 12px;}
  .woocommerce .content-with-sidebar ul.products li.product .shop-footer{padding: 0 10px 32px;}
  .woocommerce-cart table.cart td.actions .coupon .input-text {width: 250px;}

  .woocommerce ul.products li.product, .content-with-sidebar .woocommerce ul.products li.product {width: 50%;}
  .content-with-sidebar .woocommerce ul.products li.product .content {padding: 10px 10px 12px;}
  .content-with-sidebar .woocommerce ul.products li.product .shop-footer{padding: 0 10px 32px;}

  .woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li {width: 100%;}
  .woocommerce .cart-collaterals .cross-sells ul.shop-meta li {width: auto;}

  .content-with-sidebar .upsells.products ul.products li.product,.content-with-sidebar .related.products ul.products li.product {width: 50%;}

  .woocommerce div.product form.cart .group_table,
  .woocommerce div.product form.cart .group_table tbody,
  .woocommerce div.product form.cart .group_table tr,
  .woocommerce div.product form.cart .group_table td {display: block;width: 100%;text-align: left;padding-left: 0 !important;padding-right: 0 !important;}
  .woocommerce div.product form.cart .group_table tr {border-bottom: 1px solid #dce3ef;}

  .woocommerce .widget_price_filter .price_slider_amount .button {margin-bottom: 1em; display: block; width: 100%;}
  .woocommerce .price_slider_amount .price_label {float: none; display: block; width: auto; clear: both; text-align: left;}

  .content-with-sidebar div.product form.cart .variations,
  .content-with-sidebar div.product form.cart .variations tr,
  .content-with-sidebar div.product form.cart .variations td {display: block; width: 100%;}

  .content-with-sidebar.sidebar-dual ul.products li.product {width: 100%;}

  .woocommerce .content-with-sidebar .woocommerce-ordering {width: 100%;}
  .woocommerce .content-with-sidebar .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {float: none;}

  .sidebar-dual .related-post.related-post-style2 header {position: relative;top: auto;left: auto;}
  .sidebar-dual .related-post.related-post-style2 .post-content {padding-bottom: 0;}
  .sidebar-dual .related-post.related-post-style2 .post-content,
  .sidebar-dual .related-post.related-post-style2 .post-content a,
  .sidebar-dual .related-post.related-post-style2 .post-content h3,
  .sidebar-dual .related-post.related-post-style2 .post-content h6 {color: #333333;}

  .portfolio-item.portfolio-style2 .portfolio-categories li {font-size: 11px;}
  .portfolio-item.portfolio-style2 .portfolio-title {font-size: 22px;}

  .counter-box.style3 .sc-counter,
  .counter-box.style3 .counter-sufix,
  .counter-box.style3 .counter-prefix {
    font-size: 4em;
  }
  .counter-box h6 {
    font-size: 16px;
  }
}


/************************************
  4. Extra Small Screens (##mobile)
************************************/

@media(max-width:767px){

  body{font-size:14px;}
  .sticky-element-active{position:static;}
  .sticky-element + .sticky-element-placeholder{display:none;}

  #preheader.style1{padding: 7px 0; height: auto;}
  #preheader.style1 #preheader-social-nav li a i:after {-webkit-transform: translateY(-10px);-moz-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px);}

  /* Typography */
  blockquote{padding:1.5em;}
  h1.big, .page-heading h1.big, .page-heading.style-image h1.big{font-size:3em;}
  .heading-block, h1.heading-block, .page-heading h1.heading-block{font-size:2.8em;}
  .shop-box{margin:15px 0;}
  .shop-box h1.big{font-size:2.8em;}
  .shop-box h2.big{font-size:2em;}
  .shop-box + .shop-box{margin-top:15px;}

  /* Page layout */
  body.b_1170 .container{padding:0 15px;}
  body.b_1170 #splendid-main-container{padding:0 15px;}
  body.b_1170 #splendid-main-container .full-width{margin-left:-15px; margin-right:-15px;}
  body.b_1170 #splendid-main-container .full-width .container{padding:0 15px;}
  .content-with-sidebar .sidebar{float:none; width:100%!important;}
  .content-with-sidebar .main-content{float:none; width:100%!important;}
  .content-with-sidebar .sidebar + .main-content:before, .content-with-sidebar .main-content + .sidebar:before{content:none;}
  .content-with-sidebar .sidebar>.sidebar-container,
  #splendid-main-container .main-content{padding-right:0!important; padding-left:0!important;}
  .content-with-sidebar .main-content + .sidebar, .content-with-sidebar .sidebar + .main-content{padding-top:0;}
  #splendid-main-container.page-layout .row>.main-content{padding-left:15px!important; padding-right:15px!important;}
  .sidebar + .main-content, .main-content + .sidebar{padding-top:0!important;}
  .section.section-splitted:before{content:none;}

  /* Footer */
  #main-footer .widget{margin:40px 0;}
  #footer .social-icons, #footer .copyright{text-align:center;}

  /* Sidebar */
  .sidebar .widget_nav_menu ul{margin-right:0!important; margin-left:0!important;}
  .quatro-ads img, .mks_ads_widget ul.mks_adswidget_ul img {width:100%; height: auto; }

  /* Blog */
  .blog-pagination>span{display:block; text-align:center; margin-bottom:10px;}
  .blog-pagination>ul>li{margin:5px;}
  .blog-post-medium .blog-post-inner,
  .blog-post-medium .blog-post-inner>div,
  .blog-post-medium .blog-post-inner>aside,
  .blog-post-medium .blog-post-inner>section{display:block; width:100%;}
  .blog-post-medium .post-featured-image + .post-content, .blog-post-medium .post-side + .post-content{padding-left:0; padding-top:30px;}
  .blog-post-medium .post-side{width:30%!important; float:left;}
  .blog-post-medium.style-alt{overflow:hidden;}
  .blog-post-medium .post-side + .post-featured-image{width:70%; float:left;}
  .blog-post-medium.style-alt .post-content{float:left; width:100%;}
  .blog-standard-fullwidth .blog-post-standard .post-content{padding:0;}
  .comments-list .comments-list{padding-left:50px;}
  .comments-list .comment-avatar{width:50px;}
  .blog-post-masonry{padding:0;}

  /* Portfolio */
  .portfolio-item-ext, .portfolio-item-ext .portfolio-image, .portfolio-item-ext .portfolio-content{display:block; width:100%;}
  .portfolio-item-ext .portfolio-content{padding-left:0; padding-top:40px;}
  .portfolio-item-v2 .portfolio-content, .portfolio-item-v2 .portfolio-content>div{display:block; width:100%; text-align:center;}
  .portfolio-item-v2 .portfolio-content .portfolio-actions{text-align:center;}
  .portfolio-item-v2 .portfolio-categories{margin:20px auto; display: inline-block;}
  .portfolio-2columns .isotope-item:nth-last-child(2) .portfolio-item{
    margin-bottom: 60px;
  }
  .portfolio-container>div{width:100%;}
  .portfolio-5columns .col-lg-one-fifth{padding:0 15px;}
  .portfolio-single.style-basic .portfolio-single-content,
  .portfolio-single.style-extended .portfolio-single-content{float:none; width:100%;}
  .portfolio-single.style-basic .portfolio-single-details,
  .portfolio-single.style-extended .portfolio-single-details{float:none; width:100%; padding-left:0; padding-top:40px;}
  .portfolio-pagination{text-align:center;}
  .portfolio-pagination a[rel="prev"], .portfolio-pagination a[rel="next"]{float:none; margin:10px 0;}
  .recent-projects .portfolio-item{width:100%;}
  .portfolio-item-ext .read-more{margin-top:20px;}
  .portfolio-filters{text-align:center; margin-top:10px;}


  /* Shortcodes */
  .grid-gallery>li, .gallery-slider .flex-control-thumbs>li{width:50%;}
  .tab-header li + li a{border:1px solid #dce3ef; border-top:none;}
  .tab-header li.active-tab a,
  .sidetabs .tab-header li.active-tab a,
  .sidetabs.onright .tab-header li.active-tab a{border-bottom-color: #dce3ef; border-right-color: #dce3ef; border-left-color: #dce3ef;}
  .sidetabs.onright{direction:ltr;}
  .sidetabs, .sidetabs .tab-header, .sidetabs .tab-content{display:block;}
  .social-sharebox.style1, .social-sharebox.style1>div{display:block;}
  .share-button, .post-share .social-sharebox .share-button{margin-top:10px; margin-bottom:10px;}
  .audio-option span{display:none;}
  .audio-option-timeline{padding:0 15px;}
  .audio-player-box.style3, .audio-player-box.style3>div{display:block;}
  .audio-player-box.style3>.featured-image{width:100%;}
  .pricing-tables, .pricing-tables .pricing-table{display:block;}
  .testimonial{margin:40px 0;}
  .promo-box-inner, .promo-box.style2 .promo-box-inner{padding:40px 20px;}
  .promo-box.style1 .promo-box-inner, .promo-box.style1 .promo-box-inner>div,
  .promo-box.style5 .promo-box-inner, .promo-box.style5 .promo-box-inner>div{display:block;}
  .promo-box.style1 .promo-box-actions,
  .promo-box.style5 .promo-box-actions{text-align:center; padding-left:0;}
  .inline-form, .inline-form-field{display:block;}
  .newsletter-form input, .shortcode_wysija input.wysija-input, .wysija-paragraph{display: block; width:100%;}
  .inline-form, .shortcode_wysija{display: block; width:100%;}
  .wysija-paragraph:before {top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
  .formError {left: auto !important; right: 10px;}
  .content-boxes, .content-box.style5, .content-boxes-row, .content-box.style6{display:block; margin:0;}
  .content-box.style6 + .content-box.style6, .content-boxes-row + .content-boxes-row{border:none;}
  .content-box.style6{padding:30px;}
  .content-box.style6 + .content-box.style6, .content-boxes-row + .content-boxes-row .content-box.style6{border-top:1px solid #212a35;}
  .content-box.style7,
  .content-box.style7 .content-box-heading,
  .content-box.style7 .content-box-content, .content-box.style7 .icon{display:block; width:100%; padding:15px 0; text-align:center;}
  .slider-gallery>div{width:100%;}
  .link-boxes:before{content:none;}
  .link-box{margin:0 -15px; padding:60px 30px!important;}
  .coming-soon-counter>div, .coming-soon-counter .counter-item{display:block;}
  .coming-soon-counter .counter-item + .counter-item{border-left:none; border-top:6px solid #fff;}
  .accordion-content, .tab-content{padding:10px 20px;}
  .pricing-table + .pricing-table .features, .pricing-table + .pricing-table .pricing{border-left-style:solid;}
  .counter-box.style3{padding:60px 0;}
  .tabs.style-modern .tab-header>ul, .tabs.style-modern .tab-header>ul>li{display:block;}
  .tabs.style-modern .tab-content{padding:20px;}
  .blog-posts-squared .posts-row, .blog-posts-squared .posts-row .blog-post{display:block; border:none!important; padding:0 !important;}
  .sc-blog-post.style-squared .blog-post-inner,
  .sc-blog-post.style-squared .blog-post-inner .post-featured-image,
  .sc-blog-post.style-squared .blog-post-inner .post-content{display:block;}
  .sc-blog-post.style-squared .blog-post-inner .post-content{padding:10px 0 0;}
  .inline-content, .inline-content-item{display:block;}
  .sc-process-box:before{content:none;}
  .process-item, .process-item>div{display:block; text-align:center!important}
  .process-item .line{display:none;}
  .process-item .content-inner{text-align:center!important; padding:10px 0;}
  .sc-blog-post.blog-post-medium.style-alt .post-featured-image{width:70%;}
  .sc-blog-post.blog-post-medium .post-featured-image{width:100%;}
  .wysija-submit-field.wysija-submit {margin-right: 0 !important;margin-left: 0 !important;}

  .mejs-container .mejs-controls .mejs-time {display: none !important;}
  .mejs-controls .mejs-button.mejs-playpause-button {margin-left: 15px !important;}
  .mejs-controls a.mejs-horizontal-volume-slider {margin-left: 5px !important; margin-right: 15px !important;}

  .woocommerce ul.products li.product, .woocommerce .content-with-sidebar ul.products li.product {width: 100%;}
  .woocommerce-cart table.cart td.actions .coupon .input-text {margin-bottom: 7px;}
  .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce .shop_table.cart .button {width: 100% !important;}


  .shop_table.cart .quantity .fs-number {width: 35px; padding: 0;}
  .shop_table.cart .quantity .fs-number input {width: 35px; height: 35px;}
  .shop_table.cart .quantity .fs-number button {display: none;}

  .woocommerce ul.products li.product, .content-with-sidebar .woocommerce ul.products li.product {width: 100%;}
  .content-with-sidebar .upsells.products ul.products li.product,.content-with-sidebar .related.products ul.products li.product {width: 100%;}

  .woocommerce div.product .woocommerce-tabs ul.tabs {padding: 0;}
  .woocommerce div.product .woocommerce-tabs ul.tabs li {display: block; float: none; width: 100%; margin: 0;}
  .woocommerce div.product .woocommerce-tabs .panel {margin-top: 0;}

  .woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li {width: 100%;}
  .woocommerce .cart-collaterals .cross-sells ul.shop-meta li {width: auto;}

  .woocommerce div.product form.cart .group_table,
  .woocommerce div.product form.cart .group_table tbody,
  .woocommerce div.product form.cart .group_table tr,
  .woocommerce div.product form.cart .group_table td {display: block;width: 100%;text-align: left;padding-left: 0 !important;padding-right: 0 !important;}
  .woocommerce div.product form.cart .group_table tr {border-bottom: 1px solid #dce3ef;}
  .woocommerce .woocommerce-ordering {width: 100%;}
  .woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {float: none;}

  section.small-bg-none {background-image: none !important;}

  .client-logo .image-client-block {width: 100%;}

  .post-author.style2 {width: auto; padding: 100px 20px 0;}
  .related-post.related-post-style2 .post-content {padding: 50px 0;}

  .blog-extended-header.blog-extended-header-alt {padding-top: 700px; height: auto !important;}

  .content-box.style12 {padding: 60px 30px 45px;}
  .latest-post article {padding: 50px 10px;}

  .client-logo {display: block;}
  .image-client-block {display: block; margin: 30px 0;}

  .features .features-row .feature .text-block {padding: 50px 15px;}
  .features .features-row .feature h6 {font-size: 17px;}
  .features .features-row .feature h3 {font-size: 32px;}
  .features .features-row .feature p {font-size: 18px;}

  .content-box.style10 {
    border: 2px solid #fff;
    padding: 15px 0;
  }
  .counter-box.style3 .sc-counter,
  .counter-box.style3 .counter-sufix,
  .counter-box.style3 .counter-prefix {
    font-size: 4em;
  }
  .counter-box h6 {
    font-size: 15px;
  }
  .promo-box.style2 h2 {font-size: 36px;line-height: 1.35;}
}

/* Extra Extra Small Screens */
@media(max-width:500px){

  /* Blog */
  .blog-post-standard-alt .post-content, .blog-post-standard-alt .post-content>div, .blog-post-standard-alt .post-content>aside{display:block; width:100%;}
  .blog-post-standard-alt .post-content>div{padding-top:30px;}
  .blog-post.style-featured .post-content {background: #2d3741;padding: 30px;position: relative;bottom: auto;left: auto;right: auto;width: 100%;}
  .woocommerce .content-with-sidebar div.product form.cart .group_table td.label,
  .woocommerce .content-with-sidebar div.product form.cart .group_table td.price {width: 100%; float: none;}

  .sidebar-dual .related-post.related-post-style2 header {position: relative;top: auto;left: auto;}
  .sidebar-dual .related-post.related-post-style2 .post-content {padding-bottom: 0;}
  .sidebar-dual .related-post.related-post-style2 .post-content,
  .sidebar-dual .related-post.related-post-style2 .post-content a,
  .sidebar-dual .related-post.related-post-style2 .post-content h3,
  .sidebar-dual .related-post.related-post-style2 .post-content h6 {color: #333333;}
  .blog-extended-header.blog-extended-header-alt {padding-top: 1000px;padding-bottom: 0; height: auto !important;}

  .counter-box.style3 .sc-counter,
  .counter-box.style3 .counter-sufix,
  .counter-box.style3 .counter-prefix {
    font-size: 3em;
  }
  .counter-box h6 {
    font-size: 14px;
  }
}

@media (max-width: 479px) {

  .tabs.style2 .tab-header>ul {display: block;}
  .tab-header li{float:none; display: block;text-align: center;}
  .tabs.style2 .tab-header a{display: block;border-radius: 0 !important;}
  .content-box.style2 .icon {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    text-align: left;
  }
  .content-box.style2 {padding-left: 0;}
  .promo-box.style2 h2 {font-size: 28px;line-height: 1.5;}
}