// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$customizations-icon-name: 'customizations-icon';
$customizations-icon-x: 216px;
$customizations-icon-y: 84px;
$customizations-icon-offset-x: -216px;
$customizations-icon-offset-y: -84px;
$customizations-icon-width: 20px;
$customizations-icon-height: 18px;
$customizations-icon-total-width: 240px;
$customizations-icon-total-height: 216px;
$customizations-icon-image: 'sprite.png';
$customizations-icon: (216px, 84px, -216px, -84px, 20px, 18px, 240px, 216px, 'sprite.png', 'customizations-icon', );
$customizations-icon-2x-name: 'customizations-icon@2x';
$customizations-icon-2x-x: 92px;
$customizations-icon-2x-y: 132px;
$customizations-icon-2x-offset-x: -92px;
$customizations-icon-2x-offset-y: -132px;
$customizations-icon-2x-width: 40px;
$customizations-icon-2x-height: 36px;
$customizations-icon-2x-total-width: 240px;
$customizations-icon-2x-total-height: 216px;
$customizations-icon-2x-image: 'sprite.png';
$customizations-icon-2x: (92px, 132px, -92px, -132px, 40px, 36px, 240px, 216px, 'sprite.png', 'customizations-icon@2x', );
$customizations-icon-3x-name: 'customizations-icon@3x';
$customizations-icon-3x-x: 66px;
$customizations-icon-3x-y: 0px;
$customizations-icon-3x-offset-x: -66px;
$customizations-icon-3x-offset-y: 0px;
$customizations-icon-3x-width: 60px;
$customizations-icon-3x-height: 54px;
$customizations-icon-3x-total-width: 240px;
$customizations-icon-3x-total-height: 216px;
$customizations-icon-3x-image: 'sprite.png';
$customizations-icon-3x: (66px, 0px, -66px, 0px, 60px, 54px, 240px, 216px, 'sprite.png', 'customizations-icon@3x', );
$edit-icon-name: 'edit-icon';
$edit-icon-x: 216px;
$edit-icon-y: 175px;
$edit-icon-offset-x: -216px;
$edit-icon-offset-y: -175px;
$edit-icon-width: 18px;
$edit-icon-height: 18px;
$edit-icon-total-width: 240px;
$edit-icon-total-height: 216px;
$edit-icon-image: 'sprite.png';
$edit-icon: (216px, 175px, -216px, -175px, 18px, 18px, 240px, 216px, 'sprite.png', 'edit-icon', );
$edit-icon-2x-name: 'edit-icon@2x';
$edit-icon-2x-x: 132px;
$edit-icon-2x-y: 132px;
$edit-icon-2x-offset-x: -132px;
$edit-icon-2x-offset-y: -132px;
$edit-icon-2x-width: 36px;
$edit-icon-2x-height: 36px;
$edit-icon-2x-total-width: 240px;
$edit-icon-2x-total-height: 216px;
$edit-icon-2x-image: 'sprite.png';
$edit-icon-2x: (132px, 132px, -132px, -132px, 36px, 36px, 240px, 216px, 'sprite.png', 'edit-icon@2x', );
$edit-icon-3x-name: 'edit-icon@3x';
$edit-icon-3x-x: 126px;
$edit-icon-3x-y: 0px;
$edit-icon-3x-offset-x: -126px;
$edit-icon-3x-offset-y: 0px;
$edit-icon-3x-width: 54px;
$edit-icon-3x-height: 54px;
$edit-icon-3x-total-width: 240px;
$edit-icon-3x-total-height: 216px;
$edit-icon-3x-image: 'sprite.png';
$edit-icon-3x: (126px, 0px, -126px, 0px, 54px, 54px, 240px, 216px, 'sprite.png', 'edit-icon@3x', );
$facebook-comment-name: 'facebook-comment';
$facebook-comment-x: 216px;
$facebook-comment-y: 157px;
$facebook-comment-offset-x: -216px;
$facebook-comment-offset-y: -157px;
$facebook-comment-width: 18px;
$facebook-comment-height: 18px;
$facebook-comment-total-width: 240px;
$facebook-comment-total-height: 216px;
$facebook-comment-image: 'sprite.png';
$facebook-comment: (216px, 157px, -216px, -157px, 18px, 18px, 240px, 216px, 'sprite.png', 'facebook-comment', );
$facebook-like-name: 'facebook-like';
$facebook-like-x: 216px;
$facebook-like-y: 139px;
$facebook-like-offset-x: -216px;
$facebook-like-offset-y: -139px;
$facebook-like-width: 18px;
$facebook-like-height: 18px;
$facebook-like-total-width: 240px;
$facebook-like-total-height: 216px;
$facebook-like-image: 'sprite.png';
$facebook-like: (216px, 139px, -216px, -139px, 18px, 18px, 240px, 216px, 'sprite.png', 'facebook-like', );
$facebook-share-name: 'facebook-share';
$facebook-share-x: 216px;
$facebook-share-y: 193px;
$facebook-share-offset-x: -216px;
$facebook-share-offset-y: -193px;
$facebook-share-width: 18px;
$facebook-share-height: 17px;
$facebook-share-total-width: 240px;
$facebook-share-total-height: 216px;
$facebook-share-image: 'sprite.png';
$facebook-share: (216px, 193px, -216px, -193px, 18px, 17px, 240px, 216px, 'sprite.png', 'facebook-share', );
$gender-icon-name: 'gender-icon';
$gender-icon-x: 216px;
$gender-icon-y: 40px;
$gender-icon-offset-x: -216px;
$gender-icon-offset-y: -40px;
$gender-icon-width: 22px;
$gender-icon-height: 20px;
$gender-icon-total-width: 240px;
$gender-icon-total-height: 216px;
$gender-icon-image: 'sprite.png';
$gender-icon: (216px, 40px, -216px, -40px, 22px, 20px, 240px, 216px, 'sprite.png', 'gender-icon', );
$gender-icon-2x-name: 'gender-icon@2x';
$gender-icon-2x-x: 48px;
$gender-icon-2x-y: 132px;
$gender-icon-2x-offset-x: -48px;
$gender-icon-2x-offset-y: -132px;
$gender-icon-2x-width: 44px;
$gender-icon-2x-height: 40px;
$gender-icon-2x-total-width: 240px;
$gender-icon-2x-total-height: 216px;
$gender-icon-2x-image: 'sprite.png';
$gender-icon-2x: (48px, 132px, -48px, -132px, 44px, 40px, 240px, 216px, 'sprite.png', 'gender-icon@2x', );
$gender-icon-3x-name: 'gender-icon@3x';
$gender-icon-3x-x: 0px;
$gender-icon-3x-y: 0px;
$gender-icon-3x-offset-x: 0px;
$gender-icon-3x-offset-y: 0px;
$gender-icon-3x-width: 66px;
$gender-icon-3x-height: 60px;
$gender-icon-3x-total-width: 240px;
$gender-icon-3x-total-height: 216px;
$gender-icon-3x-image: 'sprite.png';
$gender-icon-3x: (0px, 0px, 0px, 0px, 66px, 60px, 240px, 216px, 'sprite.png', 'gender-icon@3x', );
$link-icon-name: 'link-icon';
$link-icon-x: 126px;
$link-icon-y: 108px;
$link-icon-offset-x: -126px;
$link-icon-offset-y: -108px;
$link-icon-width: 16px;
$link-icon-height: 16px;
$link-icon-total-width: 240px;
$link-icon-total-height: 216px;
$link-icon-image: 'sprite.png';
$link-icon: (126px, 108px, -126px, -108px, 16px, 16px, 240px, 216px, 'sprite.png', 'link-icon', );
$link-icon-2x-name: 'link-icon@2x';
$link-icon-2x-x: 180px;
$link-icon-2x-y: 146px;
$link-icon-2x-offset-x: -180px;
$link-icon-2x-offset-y: -146px;
$link-icon-2x-width: 32px;
$link-icon-2x-height: 32px;
$link-icon-2x-total-width: 240px;
$link-icon-2x-total-height: 216px;
$link-icon-2x-image: 'sprite.png';
$link-icon-2x: (180px, 146px, -180px, -146px, 32px, 32px, 240px, 216px, 'sprite.png', 'link-icon@2x', );
$link-icon-3x-name: 'link-icon@3x';
$link-icon-3x-x: 0px;
$link-icon-3x-y: 132px;
$link-icon-3x-offset-x: 0px;
$link-icon-3x-offset-y: -132px;
$link-icon-3x-width: 48px;
$link-icon-3x-height: 48px;
$link-icon-3x-total-width: 240px;
$link-icon-3x-total-height: 216px;
$link-icon-3x-image: 'sprite.png';
$link-icon-3x: (0px, 132px, 0px, -132px, 48px, 48px, 240px, 216px, 'sprite.png', 'link-icon@3x', );
$location-icon-name: 'location-icon';
$location-icon-x: 66px;
$location-icon-y: 111px;
$location-icon-offset-x: -66px;
$location-icon-offset-y: -111px;
$location-icon-width: 12px;
$location-icon-height: 20px;
$location-icon-total-width: 240px;
$location-icon-total-height: 216px;
$location-icon-image: 'sprite.png';
$location-icon: (66px, 111px, -66px, -111px, 12px, 20px, 240px, 216px, 'sprite.png', 'location-icon', );
$location-icon-2x-name: 'location-icon@2x';
$location-icon-2x-x: 216px;
$location-icon-2x-y: 0px;
$location-icon-2x-offset-x: -216px;
$location-icon-2x-offset-y: 0px;
$location-icon-2x-width: 24px;
$location-icon-2x-height: 40px;
$location-icon-2x-total-width: 240px;
$location-icon-2x-total-height: 216px;
$location-icon-2x-image: 'sprite.png';
$location-icon-2x: (216px, 0px, -216px, 0px, 24px, 40px, 240px, 216px, 'sprite.png', 'location-icon@2x', );
$location-icon-3x-name: 'location-icon@3x';
$location-icon-3x-x: 180px;
$location-icon-3x-y: 0px;
$location-icon-3x-offset-x: -180px;
$location-icon-3x-offset-y: 0px;
$location-icon-3x-width: 36px;
$location-icon-3x-height: 60px;
$location-icon-3x-total-width: 240px;
$location-icon-3x-total-height: 216px;
$location-icon-3x-image: 'sprite.png';
$location-icon-3x: (180px, 0px, -180px, 0px, 36px, 60px, 240px, 216px, 'sprite.png', 'location-icon@3x', );
$message-icon-name: 'message-icon';
$message-icon-x: 216px;
$message-icon-y: 121px;
$message-icon-offset-x: -216px;
$message-icon-offset-y: -121px;
$message-icon-width: 18px;
$message-icon-height: 18px;
$message-icon-total-width: 240px;
$message-icon-total-height: 216px;
$message-icon-image: 'sprite.png';
$message-icon: (216px, 121px, -216px, -121px, 18px, 18px, 240px, 216px, 'sprite.png', 'message-icon', );
$message-icon-2x-name: 'message-icon@2x';
$message-icon-2x-x: 0px;
$message-icon-2x-y: 180px;
$message-icon-2x-offset-x: 0px;
$message-icon-2x-offset-y: -180px;
$message-icon-2x-width: 36px;
$message-icon-2x-height: 36px;
$message-icon-2x-total-width: 240px;
$message-icon-2x-total-height: 216px;
$message-icon-2x-image: 'sprite.png';
$message-icon-2x: (0px, 180px, 0px, -180px, 36px, 36px, 240px, 216px, 'sprite.png', 'message-icon@2x', );
$message-icon-3x-name: 'message-icon@3x';
$message-icon-3x-x: 126px;
$message-icon-3x-y: 54px;
$message-icon-3x-offset-x: -126px;
$message-icon-3x-offset-y: -54px;
$message-icon-3x-width: 54px;
$message-icon-3x-height: 54px;
$message-icon-3x-total-width: 240px;
$message-icon-3x-total-height: 216px;
$message-icon-3x-image: 'sprite.png';
$message-icon-3x: (126px, 54px, -126px, -54px, 54px, 54px, 240px, 216px, 'sprite.png', 'message-icon@3x', );
$target-icon-name: 'target-icon';
$target-icon-x: 216px;
$target-icon-y: 102px;
$target-icon-offset-x: -216px;
$target-icon-offset-y: -102px;
$target-icon-width: 18px;
$target-icon-height: 19px;
$target-icon-total-width: 240px;
$target-icon-total-height: 216px;
$target-icon-image: 'sprite.png';
$target-icon: (216px, 102px, -216px, -102px, 18px, 19px, 240px, 216px, 'sprite.png', 'target-icon', );
$target-icon-2x-name: 'target-icon@2x';
$target-icon-2x-x: 180px;
$target-icon-2x-y: 108px;
$target-icon-2x-offset-x: -180px;
$target-icon-2x-offset-y: -108px;
$target-icon-2x-width: 36px;
$target-icon-2x-height: 38px;
$target-icon-2x-total-width: 240px;
$target-icon-2x-total-height: 216px;
$target-icon-2x-image: 'sprite.png';
$target-icon-2x: (180px, 108px, -180px, -108px, 36px, 38px, 240px, 216px, 'sprite.png', 'target-icon@2x', );
$target-icon-3x-name: 'target-icon@3x';
$target-icon-3x-x: 66px;
$target-icon-3x-y: 54px;
$target-icon-3x-offset-x: -66px;
$target-icon-3x-offset-y: -54px;
$target-icon-3x-width: 54px;
$target-icon-3x-height: 57px;
$target-icon-3x-total-width: 240px;
$target-icon-3x-total-height: 216px;
$target-icon-3x-image: 'sprite.png';
$target-icon-3x: (66px, 54px, -66px, -54px, 54px, 57px, 240px, 216px, 'sprite.png', 'target-icon@3x', );
$timing-icon-name: 'timing-icon';
$timing-icon-x: 216px;
$timing-icon-y: 60px;
$timing-icon-offset-x: -216px;
$timing-icon-offset-y: -60px;
$timing-icon-width: 16px;
$timing-icon-height: 24px;
$timing-icon-total-width: 240px;
$timing-icon-total-height: 216px;
$timing-icon-image: 'sprite.png';
$timing-icon: (216px, 60px, -216px, -60px, 16px, 24px, 240px, 216px, 'sprite.png', 'timing-icon', );
$timing-icon-2x-name: 'timing-icon@2x';
$timing-icon-2x-x: 180px;
$timing-icon-2x-y: 60px;
$timing-icon-2x-offset-x: -180px;
$timing-icon-2x-offset-y: -60px;
$timing-icon-2x-width: 32px;
$timing-icon-2x-height: 48px;
$timing-icon-2x-total-width: 240px;
$timing-icon-2x-total-height: 216px;
$timing-icon-2x-image: 'sprite.png';
$timing-icon-2x: (180px, 60px, -180px, -60px, 32px, 48px, 240px, 216px, 'sprite.png', 'timing-icon@2x', );
$timing-icon-3x-name: 'timing-icon@3x';
$timing-icon-3x-x: 0px;
$timing-icon-3x-y: 60px;
$timing-icon-3x-offset-x: 0px;
$timing-icon-3x-offset-y: -60px;
$timing-icon-3x-width: 48px;
$timing-icon-3x-height: 72px;
$timing-icon-3x-total-width: 240px;
$timing-icon-3x-total-height: 216px;
$timing-icon-3x-image: 'sprite.png';
$timing-icon-3x: (0px, 60px, 0px, -60px, 48px, 72px, 240px, 216px, 'sprite.png', 'timing-icon@3x', );
$spritesheet-width: 240px;
$spritesheet-height: 216px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($customizations-icon, $customizations-icon-2x, $customizations-icon-3x, $edit-icon, $edit-icon-2x, $edit-icon-3x, $facebook-comment, $facebook-like, $facebook-share, $gender-icon, $gender-icon-2x, $gender-icon-3x, $link-icon, $link-icon-2x, $link-icon-3x, $location-icon, $location-icon-2x, $location-icon-3x, $message-icon, $message-icon-2x, $message-icon-3x, $target-icon, $target-icon-2x, $target-icon-3x, $timing-icon, $timing-icon-2x, $timing-icon-3x, );
$spritesheet: (240px, 216px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../images/sprites/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
