
.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: inherit;
  stroke: inherit;


  &.icon-Ad_File {
    font-size:(2.6*10)+px;
    width:(2.6/2.6)+em;
  }

  &.icon-Ad_Link {
    font-size:(2.6*10)+px;
    width:(2.6/2.6)+em;
  }

  &.icon-Ad_Photo {
    font-size:(2.5*10)+px;
    width:(2.8/2.5)+em;
  }

  &.icon-Amazon {
    font-size:(1.8*10)+px;
    width:(1.8/1.8)+em;
  }

  &.icon-Audience_Age {
    font-size:(2.4*10)+px;
    width:(1.6/2.4)+em;
  }

  &.icon-Audience_Gender {
    font-size:(2*10)+px;
    width:(2.2/2)+em;
  }

  &.icon-Audience_Interest {
    font-size:(1.8*10)+px;
    width:(2/1.8)+em;
  }

  &.icon-Audience_Location {
    font-size:(2*10)+px;
    width:(1.2/2)+em;
  }

  &.icon-Audience_Target {
    font-size:(1.9*10)+px;
    width:(1.8/1.9)+em;
  }

  &.icon-Custsomize {
    font-size:(1.8*10)+px;
    width:(2/1.8)+em;
  }

  &.icon-Edit {
    font-size:(1.4*10)+px;
    width:(1.4/1.4)+em;
  }

  &.icon-Gender_All {
    font-size:(2*10)+px;
    width:(2.4/2)+em;
  }

  &.icon-Gender_Female {
    font-size:(1.9*10)+px;
    width:(1/1.9)+em;
  }

  &.icon-Gender_Male {
    font-size:(2*10)+px;
    width:(1/2)+em;
  }

  &.icon-Google {
    font-size:(1.8*10)+px;
    width:(1.8/1.8)+em;
  }

  &.icon-Image {
    font-size:(4.1*10)+px;
    width:(7.5/4.1)+em;
  }

  &.icon-Message {
    font-size:(2*10)+px;
    width:(2/2)+em;
  }

  &.icon-Mobile_Main_Dashboard {
    font-size:(3.6*10)+px;
    width:(4.2/3.6)+em;
  }

  &.icon-Mobile_Main_Home {
    font-size:(3.9*10)+px;
    width:(4.2/3.9)+em;
  }

  &.icon-Mobile_Main_User {
    font-size:(3.9*10)+px;
    width:(3.6/3.9)+em;
  }

  &.icon-Nav_Back {
    font-size:(1.6*10)+px;
    width:(1/1.6)+em;
  }

  &.icon-Nav_Down {
    font-size:(0.8*10)+px;
    width:(1.2/0.8)+em;
  }

  &.icon-Nav_X {
    font-size:(2.4*10)+px;
    width:(2.4/2.4)+em;
  }

  &.icon-Preview {
    font-size:(1.8*10)+px;
    width:(1.8/1.8)+em;
  }

  &.icon-create-ad {
    font-size:(4.4*10)+px;
    width:(4.4/4.4)+em;
  }

  &.icon-email {
    font-size:(0.9*10)+px;
    width:(1.2/0.9)+em;
  }

  &.icon-eye {
    font-size:(1.2*10)+px;
    width:(1.8/1.2)+em;
  }

  &.icon-facebook {
    font-size:(1.8*10)+px;
    width:(0.9/1.8)+em;
  }

  &.icon-lock {
    font-size:(1.2*10)+px;
    width:(1.2/1.2)+em;
  }

  &.icon-novalid {
    font-size:(0.8*10)+px;
    width:(0.8/0.8)+em;
  }

  &.icon-scroll-preview {
    font-size:(2*10)+px;
    width:(1.6/2)+em;
  }

  &.icon-step-back {
    font-size:(1.1*10)+px;
    width:(2/1.1)+em;
  }

  &.icon-user {
    font-size:(1.2*10)+px;
    width:(1.2/1.2)+em;
  }

  &.icon-valid {
    font-size:(0.6*10)+px;
    width:(0.9/0.6)+em;
  }

}


