doctype html
html(lang="en")
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(
		name='viewport',
		content='initial-scale=1.0, maximum-scale=1, user-scalable=no',
		width='device-width'
		)

		block title

		link(rel="stylesheet", href="./css/libs.min.css")
		link(rel="stylesheet", href="./css/main.css")

		block content