//todo Roman: delete this things, because bootstrap has it yet (.text-left and else)

.align-left {
  text-align:left !important;
}
.align-right {
  text-align:right !important;
}
.align-center {
  text-align:center !important;
}

.visibility_h{
  visibility: hidden;
}

.text-underline{
  text-decoration: underline
}

img.align-left {
  float:left;
  margin:.5em 2em .5em 0;
}
img.align-right {
  float:right;
  margin:.5em 0 .5em 2em;
}
img.align-center {
  margin:1em auto;
  display:block;
}

.resize_none{
  resize: none;
}

.no-border{
  border:none !important;
}

.img-block{
  position: relative;
  min-height:250px;
  margin-bottom: 20px;

  img{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .edit-menu{
    border:1px solid map_get($colors, 'border-grey');
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    top:20px;
    right:20px;
    z-index: 10;
    background: #fff;

    ul{
      list-style: none;
      padding:0;
      margin:0;

      li{
        display: inline-block;
        border-right: 1px solid map_get($colors, 'border-grey');
        background: #fff;
        margin-right:-4px;

        &:last-child{
          border-right: none;
          margin-right:0;
        }

        a{
          padding: 15px 20px;
          display: block;

          svg{
            height:18px;
          }
        }
      }
    }
  }
}
.step-back{
  margin-bottom: 35px;

  a{
    display: inline-block;
    position: relative;
    color: map_get($link-colors, 'step-back-def');
    transition: .2s ease-in-oput;
    font-size: 14px;

    &:hover{
      color: map_get($link-colors, 'hover');

      .icon{
        svg{
          path{
            fill: map_get($link-colors, 'hover');
          }
        }
      }
    }

    .icon{
      vertical-align: middle;
      margin-right: 4px;

      path{
        fill: map_get($link-colors, 'step-back-def');
      }
    }

    span{
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;
    }
  }
}

.tags{
  display: block;

  .tags-item{
    padding: 4px 10px;
    color: #fff;
    background: #e7b5f2;
    margin-right: 4px;
    margin-top: 5px;
    border-radius: 50px;
    font-size: 12px;
    text-transform: lowercase;
  }
}

/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
								13. Custom Padding And Margins
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/



@each $indentation, $orientation, $prefix in  (margin, margin-top, t),
                                              (margin, margin-bottom, b),
                                              (margin, margin-left, l),
                                              (margin, margin-right, r),
                                              (padding, padding-top, t),
                                              (padding, padding-bottom, b),
                                              (padding, padding-left, l),
                                              (padding, padding-right, r)
{
  @for $i from 0 through 20{
    .#{$indentation}_#{$prefix}_#{$i*5}{
      #{$orientation}: #{$i*5}px !important;
    }
  }
}



/********************************************
			  	12-5. Colors
*********************************************/
.color-white,
.color-white.button,
.color-white.button:hover,
.color-light {
  color:#fff !important;
}

