.button{
  cursor:pointer;
  border-color:transparent;
  display:inline-block;
  color:#646464;
  text-decoration:none!important;
  //padding: 16px 52px 15px;
  padding: 20px 52px 19px;
  margin:0;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: .9375em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  //border-bottom:1px solid rgba(0,0,0,.2);
  //text-shadow:0 -1px 0 rgba(0,0,0,.2);
  //box-shadow:0 1px 1px rgba(0,0,0,.21);
  border-radius:4px;
  transition: .2s ease-in-out;
  border: 1px solid transparent;

  &:active,
  &:focus{
    outline:none;
  }

  &:hover{
    color:inherit;
    opacity:.8;
  }

  &.bg-light-gray{
    color: #979797;
  }

  &.min_w_250{
    min-width: 250px;
  }

  &.disabled{
    background-color: #d8d8d8 !important;
    pointer-events: none;
  }

  &.small{
    padding:10px 28px;

    &.br-light{
      padding:10px 27px;
    }
  }

  &.icon-before{
    position: relative;
    padding-left: 60px;
    padding-right: 60px;

    svg,
    .icon{
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translate(0, -50%);
    }
  }

  &.amazon-link{
    $color: map_get($social, 'amazon');
    background: $color;

    &:hover{
      color: $color;
      border: 1px solid $color;

      .social-fill{
        fill: $color;
      }
    }
  }

  &.google-link{
    $color: map_get($social, 'google');

    background: $color;

    &:hover{
      border: 1px solid $color;
      color: $color;

      .social-fill{
        fill: $color;
      }
    }
  }

  &.facebook-link{
    $color: map_get($social, 'facebook');

    background: $color;

    &:hover{
      border: 1px solid $color;
      color: $color;

      .social-fill{
        fill: $color;
      }
    }
  }

  &.email-link{
    $color: map_get($social, 'email');
    border: 1px solid $color;
    background: #fff;
    color: $color;

    &:hover{
      background: $color;
      color: #fff;

      .social-fill{
        fill: #fff;
      }
    }
  }

  &.icon-inside{
    width: 100%;

    .icon{
      margin-right: 4px;
    }

    .icon,
    span{
      display: inline-block;
      vertical-align: middle;
    }

    &.color-white{
      .fill-class{
        fill: #fff;
      }
    }
  }
}

.modal-emulation__next-button{
  position: fixed;
  right:32px;
  bottom:32px;
  font-size:20px !important;
  margin: 0 !important;
}

.succses-buttons{
  text-align: center;

  a{
    display: inline-block;
    margin-bottom: 30px;
    text-transform: uppercase;

    &:last-child{
      margin-bottom: 0;
    }
  }
}