@import "_variables";
@import "_default";
@import "_animation";
@import "_atomic";
@import "_buttons";
@import "_fonts";




/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
										3. Global Styles
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/




/********************************************
			3-2. Main Container
*********************************************/
.block-title{
  //margin-bottom: 35px;
  p{
    color: map_get($colors, 'block-title');
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &.second{
    &.with-price{
      display: flex;
      justify-content: space-between;
    }

    p{
      color: map_get($colors, 'block-title-second');
      font-size: 20px;

      em{
        display: block;
        font-style: normal;
        color: #7D7D7D;
        font-size: 14px;
        font-weight: 300;
        text-transform: none;
      }
    }

    span{
      color: #000;
      color: #4A4A4A;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

#splendid-main-container {
  padding-top:50px;
  padding-bottom:50px;
}

.first-section {
  margin-top:-50px!important;
}

/********************************************
				3-5. Layout Fixes
*********************************************/


/* Promo Boxes */
.promo-box{
  display: block;
  margin:40px 0 35px;
  background-position:center center;
  background-repeat:repeat;
  background-size:100% auto
}
.promo-box-inner{
  position: relative;
  z-index: 2;
  padding: 55px 70px;

  p{
    margin-bottom: 0;
  }
}
.promo-box h2,
.promo-box h3{
  margin:0;
}

/* Style 2 */
//.promo-box-container {
//  display: block;
//  position: relative;
//  z-index: 2;
//}


.promo-box{
  &.style2 {
    transition:all 0.5s ease;

    .promo-box-inner{
      padding:65px 80px 65px;
      text-align:center;
      color:#fff;

      .button{
        margin:0;
      }
    }

    h1,
    h3,
    h4,
    h5,
    h6{
      color:#fff;
    }

    h2 {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 1px;
    }

    h5 {
      margin-bottom: 50px;
      margin-top: 10px;
    }
  }
}

//.custom-tabs{
//  .nav{
//    margin-bottom: 20px;
//  }
//
//  .nav-item{
//    margin-right:20px;
//
//    &:last-child{
//      margin-right:0;
//    }
//
//    &+li{
//      margin-top:0;
//    }
//  }
//
//  .nav-link{
//    text-transform: uppercase;
//    color: #fff;
//    transition: .2s ease-in-out;
//    color: map_get($colors, 'grey');
//    &.active{
//      color: #fff;
//      background: map_get($colors, 'pink');
//    }
//  }
//
//  .tab-content{
//    padding:20px;
//  }
//
//  .tab-pane{
//    img{
//      width:100%;
//    }
//  }
//}

//button.close{
//  font-size: 20px;
//  line-height: 1.5;
//}


/////// test progress bar

.skill__circle {
  display: block;
  height: 45px;
  width: 45px;
  transform: rotate(-90deg);

  &_background {
    fill: none;
    stroke: #989898;
    stroke-width: 2;
    stroke-opacity: 0.45;
  }

  &_progress {
    fill: none;
    stroke: #7ed428;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 100;
    stroke-linecap: round;
    stroke-width: 2;
    transition: stroke-dashoffset 1s ease-in-out;
  }

  &_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//.modal-emulation{
//
//}


.small-block{
  background: #fff;
  border-radius: map_get($main-params, 'radius');
  border: 1px solid #ddd;
  max-width:590px;
  margin:0 auto 24px;
  padding:30px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);

  &:last-child{
    margin:0 auto 0;
  }

  &.padding_20{
    padding:20px;
  }

  .input-notification{
    text-transform: none;
    margin-top: 20px;
    color: #888;
  }
}

#shareSettingsToggle {
  display: none;

  &:checked{
    + label {
      background: #7d7d7d;
      &:before {
        content: "private";
      }
      &:after {
        left: 3px;
      }
    }
  }


  + label{
    position: relative;
    display: block;
    width: 80px;
    height: 31px;
    border-radius: 50px;
    cursor: pointer;

    background: map_get($colors, 'modal-blue');

    &:before {
      content: "public";
      position: absolute;
      right: -100%;
      top: 50%;
      transform: translate(0, -50%);
      color: #000;
      text-transform: uppercase;
      font-size: 16px;
    }

    &:after {
      content: "";
      position: absolute;
      left: 52px;
      top: 3px;
      display: block;
      width: 25px;
      height: 25px;
      border-radius:50%;
      background: #fff;
      transition: .5s;
    }
  }
}

#actualValue{
  margin-top:10px;
}

.tab-content{
  position: static;
}

.wrap-for-mobile{
  position: relative;
}

.tags{
  display: block;

  .tags-item{
    padding: 4px 10px;
    color: #fff;
    background: #e7b5f2;
    margin-right: 4px;
    margin-top: 5px;
    border-radius: 50px;
    font-size: 12px;
    text-transform: lowercase;
  }
}

.img-block{
  position: relative;
  min-height:250px;
  margin-bottom: 20px;

  img{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .edit-menu{
    border:1px solid map_get($colors, 'border-grey');
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    top:20px;
    right:20px;
    z-index: 10;
    background: #fff;

    ul{
      list-style: none;
      padding:0;
      margin:0;

      li{
        display: inline-block;
        border-right: 1px solid map_get($colors, 'border-grey');
        background: #fff;
        margin-right:-4px;

        &:last-child{
          border-right: none;
          margin-right:0;
        }

        a{
          padding: 15px 20px;
          display: block;

          svg{
            height:18px;
          }
        }
      }
    }
  }
}

.text-from-prev{
  display: block;
  font-size: 14px;
  text-transform: none;
  margin:10px 0;
}

.step-back{
  margin-bottom: 35px;

  a{
    display: inline-block;
    position: relative;
    color: map_get($link-colors, 'step-back-def');
    transition: .2s ease-in-oput;
    font-size: 14px;

    &:hover{
      color: map_get($link-colors, 'hover');

      .icon{
        svg{
          path{
            fill: map_get($link-colors, 'hover');
          }
        }
      }
    }

    .icon{
      vertical-align: middle;
      margin-right: 4px;

      path{
        fill: map_get($link-colors, 'step-back-def');
      }
    }

    span{
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;
    }
  }
}

.chose-method{
  .radio-block{
    margin-bottom: 8px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

.total-price{
  margin-bottom: 25px;
  i{
    font-size: 24px;
    margin-right: 4px;
    color: map_get($main-params, 'purple');
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
  }

  span{
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 24px;

    em{
      font-style: normal;
      font-size: 48px;
    }
  }
}
